# 2024: Week 28 - Wimbledon Special

July 10, 2024

Challenge by: Jenny Martin

Carl's Tour de France challenge last week has inspired a sports themed Preppin' Data month! This week the focus turns to Wimbledon. I thought it would be interesting to understand the crossover of Singles and Doubles Champions. Carl thought there wouldn't be many players who had become champions as both Singles players and Doubles players, but I thought the data could prove otherwise. Who's right? You'll have to complete the challenge to find out!

### Inputs

The data for the Wimbledon Champions is found in 3 separate tables:

1. Singles Champions 

![1](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhaP-6nLtLHwYxt4ADWhNNWdNx3nBumY_5vmEUZzn1G2bTCK6-75WACc1MWaUQ6KjLegILy4xSdSq5Xye9jYrOxhXovJZjYk6136I5UVxEnnvbMXXq6GokO6_aROoD4tCUJdooKXWgvqxkUVzG6hyphenhyphenZuhAUfYRoWBYB8CDM94P5JmA5CdjPiv6XrjS2g_HUe/s612/Screenshot%202024-07-08%20143623.png)

Taken from Britannica

2. Doubles Champions 

![2](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiaQ8u4yzz_W3Hv-c8iEhkoUZiE2_dGLw17Wbmt1FQ4UkanKNFVs33eouv22rNkUMAkjCY2R75GHACZnBUxnkbyDRtifVO0Q9u1HvQFoAg4kJhex1d1uryq4sIsvxqRQagOhlULbN4JYPEQAkWbHvtG0SrSp7TWQi9kwV32jZ3IIgNJezZyQUVeManE44Ni/s920/Screenshot%202024-07-08%20143802.png)

Taken from Britannica

3. Mixed Doubles Champions 

![3](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhOCPHGry-u5KXWoB619fOz61h827Hh9JrKrXZl6tTOziAsPfLP1pNs-JKwms99DoA5hi018EFHgy-2Oe5Lg6q7kON0n8BMQA8mlFibQ0Vsbggj0CVCCJGioeTfdmzzcv3k6eMPps8Nro6SbYGLs1KOPGeioxI37QrknwBDAUuC5OnlJ4-6loXm9A5wbzog/s1120/Screenshot%202024-07-08%20143919.png)

Taken from Wikipedia
### Requirements
- Input the data
- Filter out the years where the championship did not take place
- Ensure the Year field is numeric
- Reshape the data so there is a row for each Champion, for each Year, even where there are 2 winners in the Doubles
- Make sure it's clear which tournament they were the Champion of:
- Either Men's Singles, Women's Singles, Men's Doubles, Women's Doubles or Mixed Doubles
- For each Champion, calculate the most recent win across tournaments
- Bring the data together so it's clear for each Champion how many of each tournament they've won
- Filter the data to only include Champions who have won both Singles and Doubles tournaments
- Create a calculation for the Total Championships each Champion has won
- Rank the Champions in descending order of their Total Championships 
- Create a field to indicate the Gender of each Champion
- Output the data

### Output

![4](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiMmX5obL4sB5F28Mq5NZee_-PzWNPdfoGADCVy-KFmBrgiPLf2GMG5Ym3RqPjI7g4nfCVT94c7S5eRn1rErgnIPI9jwrgaklRvRVAYzRG5q1-wu141necV3OUbpiNEJ-9c0Bzv5juUITYzWcQ_r81m2rwefXYqxljJ3hmNb6svVYw_pKk1oAVBuQiHOS1j/s1310/Screenshot%202024-07-08%20143149.png)

- 10 fields
- Rank
- Champion
- Gender
- Total Championships
- Women's Singles
- Men's Singles
- Women's Doubles
- Mixed Doubles
- Men's Doubles
- Most Recent Win
- 58 rows (59 including headers)

In [125]:
import pandas as pd

# Read the Excel file
xls = pd.ExcelFile('Wimbledon Champions.xlsx')

# List all sheet names
sheet_names = xls.sheet_names
print(sheet_names)

['Singles Champions', 'Doubles Champions', 'Mixed Doubles Champions']

In [126]:
# Read the Singles Champions sheet into a DataFrame
single_df = pd.read_excel(xls, sheet_name='Singles Champions')
single_df

,year,men,women
0,1877,Spencer W. Gore (U.K.),NaN
1,1878,Frank Hadow (U.K.),NaN
2,1879,John T. Hartley (U.K.),NaN
3,1880,John T. Hartley (U.K.),NaN
4,1881,Willie Renshaw (U.K.),NaN
...,...,...,...
138,2023,Carlos Alcaraz (Spain),Marketa Vondrousova (Czech.)
139,1Tournament canceled because of World War I.,NaN,NaN
140,2Tournament canceled because of World War II.,NaN,NaN
141,3Open since 1968.,NaN,NaN
142,4Tournament canceled because of the coronaviru...,NaN,NaN

In [127]:
# Filter out records where 'men' or 'women' columns have 'not held' as value
single_df = single_df[(single_df['men'] != 'not held') & (single_df['women'] != 'not held')]

# Filter out records where both 'men' and 'women' columns are null
single_df = single_df.dropna(subset=['men', 'women'], how='all')

# Convert the 'year' column to numeric, forcing errors to NaN
single_df['year'] = pd.to_numeric(single_df['year'], errors='coerce')

# Drop rows with NaN values in 'year' column
single_df = single_df.dropna(subset=['year'])

# Convert 'year' column to integer type
single_df['year'] = single_df['year'].astype(int)
single_df

     year                      men                         women
0    1877   Spencer W. Gore (U.K.)                           NaN
1    1878       Frank Hadow (U.K.)                           NaN
2    1879   John T. Hartley (U.K.)                           NaN
3    1880   John T. Hartley (U.K.)                           NaN
4    1881    Willie Renshaw (U.K.)                           NaN
..    ...                      ...                           ...
133  2018  Novak Djokovic (Serbia)       Angelique Kerber (Ger.)
134  2019  Novak Djokovic (Serbia)           Simona Halep (Rom.)
136  2021  Novak Djokovic (Serbia)       Ashleigh Barty (Austl.)
137  2022  Novak Djokovic (Serbia)      Elena Rybakina (Kazakh.)
138  2023   Carlos Alcaraz (Spain)  Marketa Vondrousova (Czech.)

[136 rows x 3 columns]

In [128]:
# Reshape the single_df DataFrame
single_df_melted = single_df.melt(id_vars=['year'], value_vars=['men', 'women'], var_name='Tournament', value_name='Champions')

# Drop rows with NaN values in the 'champion' column
single_df_melted = single_df_melted.dropna(subset=['Champions'])

# Change the values in the 'Tournament' column
single_df_melted['Tournament'] = single_df_melted['Tournament'].replace({'men': "Men's Singles", 'women': "Women's Singles"})

single_df_melted

     year       Tournament                     Champions
0    1877    Men's Singles        Spencer W. Gore (U.K.)
1    1878    Men's Singles            Frank Hadow (U.K.)
2    1879    Men's Singles        John T. Hartley (U.K.)
3    1880    Men's Singles        John T. Hartley (U.K.)
4    1881    Men's Singles         Willie Renshaw (U.K.)
..    ...              ...                           ...
267  2018  Women's Singles       Angelique Kerber (Ger.)
268  2019  Women's Singles           Simona Halep (Rom.)
269  2021  Women's Singles       Ashleigh Barty (Austl.)
270  2022  Women's Singles      Elena Rybakina (Kazakh.)
271  2023  Women's Singles  Marketa Vondrousova (Czech.)

[265 rows x 3 columns]

In [129]:
# Read the Double Champions sheet into a DataFrame
double_df = pd.read_excel(xls, sheet_name='Doubles Champions')
double_df

,year,men,women
0,1879,"Robert Erskine, Herbert Lawford",NaN
1,1880,"Willie Renshaw, Ernest Renshaw",NaN
2,1881,"Willie Renshaw, Ernest Renshaw",NaN
3,1882,"John Hartley, R.T. Richardson",NaN
4,1883,"C.W. Grinstead, C.E. Welldon",NaN
...,...,...,...
135,2022,"Matthew Ebden, Max Purcell","Barbora Krejcikova, Katerina Siniakova"
136,2023,"Wesley Koolhof, Neal Skupski","Hsieh Su-wei, Barbora Strycova"
137,1Tournament canceled because of World War I.,NaN,NaN
138,2Tournament canceled because of World War II.,NaN,NaN
139,3Tournament canceled because of the coronaviru...,NaN,NaN

In [130]:
# Filter out records where 'men' or 'women' columns have 'not held' as value
double_df = double_df[(double_df['men'] != 'not held') & (double_df['women'] != 'not held')]

# Filter out records where both 'men' and 'women' columns are null
double_df = double_df.dropna(subset=['men', 'women'], how='all')

# Convert the 'year' column to numeric, forcing errors to NaN
double_df['year'] = pd.to_numeric(double_df['year'], errors='coerce')

# Drop rows with NaN values in 'year' column
double_df = double_df.dropna(subset=['year'])

# Convert 'year' column to integer type
double_df['year'] = double_df['year'].astype(int)
double_df

,year,men,women
0,1879,"Robert Erskine, Herbert Lawford",NaN
1,1880,"Willie Renshaw, Ernest Renshaw",NaN
2,1881,"Willie Renshaw, Ernest Renshaw",NaN
3,1882,"John Hartley, R.T. Richardson",NaN
4,1883,"C.W. Grinstead, C.E. Welldon",NaN
...,...,...,...
131,2018,"Mike Bryan, Jack Sock","Barbora Krejcikova, Katerina Siniakova"
132,2019,"Juan Sebastian Cabal, Robert Farah","Hsieh Su-wei, Barbora Strycova"
134,2021,"Nikola Mektic, Mate Pavic","Hsieh Su-wei, Elise Mertens"
135,2022,"Matthew Ebden, Max Purcell","Barbora Krejcikova, Katerina Siniakova"
136,2023,"Wesley Koolhof, Neal Skupski","Hsieh Su-wei, Barbora Strycova"

In [131]:
# Reshape the double_df DataFrame
double_df_melted = double_df.melt(id_vars=['year'], value_vars=['men', 'women'], var_name='Tournament', value_name='Champions')

# Drop rows with NaN values in the 'champion' column
double_df_melted = double_df_melted.dropna(subset=['Champions'])

# Split the 'champion' column by ',' and explode the DataFrame
double_df_melted['Champions'] = double_df_melted['Champions'].str.split(',')
double_df_melted = double_df_melted.explode('Champions')

# Remove leading and trailing spaces from the 'champion' column
double_df_melted['Champions'] = double_df_melted['Champions'].str.strip()

# Change the values in the 'tournament' column
double_df_melted['Tournament'] = double_df_melted['Tournament'].replace({'men': "Men's Doubles", 'women': "Women's Doubles"})


double_df_melted

     year       Tournament           Champions
0    1879    Men's Doubles      Robert Erskine
0    1879    Men's Doubles     Herbert Lawford
1    1880    Men's Doubles      Willie Renshaw
1    1880    Men's Doubles      Ernest Renshaw
2    1881    Men's Doubles      Willie Renshaw
..    ...              ...                 ...
265  2021  Women's Doubles       Elise Mertens
266  2022  Women's Doubles  Barbora Krejcikova
266  2022  Women's Doubles  Katerina Siniakova
267  2023  Women's Doubles        Hsieh Su-wei
267  2023  Women's Doubles    Barbora Strycova

[468 rows x 3 columns]

In [132]:
# Read the Mixed Doubles Champions sheet into a DataFrame
mixed_double_df = pd.read_excel(xls, sheet_name='Mixed Doubles Champions')
mixed_double_df

,Year,Champions,Runners-up,Score[2]
0,1913,Hope Crisp\nAgnes Tuckey,James Cecil Parke\nEthel Larcombe,"3–6, 5–3 retired"
1,1914,James Cecil Parke\nEthel Larcombe,Anthony Wilding\nMarguerite Broquedis,"4–6, 6–4, 6–2"
2,1915,No competition (due to World War I),NaN,NaN
3,1916,NaN,NaN,NaN
4,1917,NaN,NaN,NaN
...,...,...,...,...
106,2019,Ivan Dodig\nLatisha Chan,Robert Lindstedt\nJeļena Ostapenko,"6–2, 6–3"
107,2020,No competition (due to COVID-19 pandemic)[3],NaN,NaN
108,2021,Neal Skupski\nDesirae Krawczyk,Joe Salisbury\nHarriet Dart,"6–2, 7–6(7–1)"
109,2022,Neal Skupski(2)\nDesirae Krawczyk(2),Matthew Ebden\nSamantha Stosur,"6–4, 6–3"
110,2023,Mate Pavić\nLyudmyla Kichenok,Joran Vliegen\nXu Yifan,"6–4, 6–7(9–11), 6–3"

In [133]:
# Filter out records with null Score[2]
mixed_double_df = mixed_double_df[mixed_double_df['Score[2]'].notna()]
mixed_double_df

,Year,Champions,Runners-up,Score[2]
0,1913,Hope Crisp\nAgnes Tuckey,James Cecil Parke\nEthel Larcombe,"3–6, 5–3 retired"
1,1914,James Cecil Parke\nEthel Larcombe,Anthony Wilding\nMarguerite Broquedis,"4–6, 6–4, 6–2"
6,1919,Randolph Lycett\nElizabeth Ryan,Albert Prebble\nDorothea Lambert Chambers,"6–0, 6–0"
7,1920,Gerald Patterson\nSuzanne Lenglen,Randolph Lycett\nElizabeth Ryan,"7–5, 6–3"
8,1921,Randolph Lycett(2)\nElizabeth Ryan(2),Max Woosnam\nPhyllis Howkins,"6–3, 6–1"
...,...,...,...,...
105,2018,Alexander Peya\nNicole Melichar,Jamie Murray\nVictoria Azarenka,"7–6(7–1), 6–3"
106,2019,Ivan Dodig\nLatisha Chan,Robert Lindstedt\nJeļena Ostapenko,"6–2, 6–3"
108,2021,Neal Skupski\nDesirae Krawczyk,Joe Salisbury\nHarriet Dart,"6–2, 7–6(7–1)"
109,2022,Neal Skupski(2)\nDesirae Krawczyk(2),Matthew Ebden\nSamantha Stosur,"6–4, 6–3"
110,2023,Mate Pavić\nLyudmyla Kichenok,Joran Vliegen\nXu Yifan,"6–4, 6–7(9–11), 6–3"

In [134]:
mixed_double_df = mixed_double_df.drop(columns=['Runners-up', 'Score[2]'])
mixed_double_df

     Year                              Champions
0    1913               Hope Crisp\nAgnes Tuckey
1    1914      James Cecil Parke\nEthel Larcombe
6    1919        Randolph Lycett\nElizabeth Ryan
7    1920      Gerald Patterson\nSuzanne Lenglen
8    1921  Randolph Lycett(2)\nElizabeth Ryan(2)
..    ...                                    ...
105  2018        Alexander Peya\nNicole Melichar
106  2019               Ivan Dodig\nLatisha Chan
108  2021         Neal Skupski\nDesirae Krawczyk
109  2022   Neal Skupski(2)\nDesirae Krawczyk(2)
110  2023          Mate Pavić\nLyudmyla Kichenok

[100 rows x 2 columns]

In [135]:
# Split the 'Champions' column by '\n' and explode the DataFrame
mixed_double_df['Champions'] = mixed_double_df['Champions'].str.split('\n')
mixed_double_df = mixed_double_df.explode('Champions')

mixed_double_df

     Year            Champions
0    1913           Hope Crisp
0    1913         Agnes Tuckey
1    1914    James Cecil Parke
1    1914       Ethel Larcombe
6    1919      Randolph Lycett
..    ...                  ...
108  2021     Desirae Krawczyk
109  2022      Neal Skupski(2)
109  2022  Desirae Krawczyk(2)
110  2023           Mate Pavić
110  2023    Lyudmyla Kichenok

[200 rows x 2 columns]

In [136]:
mixed_double_df['Tournament'] = 'Mixed Doubles'
mixed_double_df.rename(columns={'Year': 'year'}, inplace=True)
mixed_double_df

     year            Champions     Tournament
0    1913           Hope Crisp  Mixed Doubles
0    1913         Agnes Tuckey  Mixed Doubles
1    1914    James Cecil Parke  Mixed Doubles
1    1914       Ethel Larcombe  Mixed Doubles
6    1919      Randolph Lycett  Mixed Doubles
..    ...                  ...            ...
108  2021     Desirae Krawczyk  Mixed Doubles
109  2022      Neal Skupski(2)  Mixed Doubles
109  2022  Desirae Krawczyk(2)  Mixed Doubles
110  2023           Mate Pavić  Mixed Doubles
110  2023    Lyudmyla Kichenok  Mixed Doubles

[200 rows x 3 columns]

In [137]:
combined_df = pd.concat([single_df_melted, double_df_melted, mixed_double_df], ignore_index=True)
combined_df

     year     Tournament               Champions
0    1877  Men's Singles  Spencer W. Gore (U.K.)
1    1878  Men's Singles      Frank Hadow (U.K.)
2    1879  Men's Singles  John T. Hartley (U.K.)
3    1880  Men's Singles  John T. Hartley (U.K.)
4    1881  Men's Singles   Willie Renshaw (U.K.)
..    ...            ...                     ...
928  2021  Mixed Doubles        Desirae Krawczyk
929  2022  Mixed Doubles         Neal Skupski(2)
930  2022  Mixed Doubles     Desirae Krawczyk(2)
931  2023  Mixed Doubles              Mate Pavić
932  2023  Mixed Doubles       Lyudmyla Kichenok

[933 rows x 3 columns]

In [138]:
most_recent_win = combined_df.groupby('Champions')['year'].max().reset_index()
most_recent_win.rename(columns={'year': 'Most Recent Win'}, inplace=True)
most_recent_win

                   Champions  Most Recent Win
0               Adrian Quist             1950
1               Agnes Morton             1914
2               Agnes Tuckey             1913
3                Ai Sugiyama             2003
4    Alejandro Olmedo (Peru)             1959
..                       ...              ...
513      Yvon Petra (France)             1946
514                   Zi Yan             2006
515            Zina Garrison             1988
516         Zina Garrison(2)             1990
517             Ándre Gobert             1911

[518 rows x 2 columns]

In [139]:
championship_counts = combined_df.groupby(['Champions', 'Tournament']).size().unstack(fill_value=0)
championship_counts

Tournament,Men's Doubles,Men's Singles,Mixed Doubles,Women's Doubles,Women's Singles
Champions,,,,,
Adrian Quist,2,0,0,0,0
Agnes Morton,0,0,0,1,0
Agnes Tuckey,0,0,1,0,0
Ai Sugiyama,0,0,0,1,0
Alejandro Olmedo (Peru),0,1,0,0,0
...,...,...,...,...,...
Yvon Petra (France),0,1,0,0,0
Zi Yan,0,0,0,1,0
Zina Garrison,0,0,1,0,0
Zina Garrison(2),0,0,1,0,0
Ándre Gobert,1,0,0,0,0

In [140]:
# Calculate the total championships for each champion
championship_counts['Total Championships'] = championship_counts.sum(axis=1)

# Display the updated DataFrame
championship_counts

Tournament,Men's Doubles,Men's Singles,Mixed Doubles,Women's Doubles,Women's Singles,Total Championships
Champions,,,,,,
Adrian Quist,2,0,0,0,0,2
Agnes Morton,0,0,0,1,0,1
Agnes Tuckey,0,0,1,0,0,1
Ai Sugiyama,0,0,0,1,0,1
Alejandro Olmedo (Peru),0,1,0,0,0,1
...,...,...,...,...,...,...
Yvon Petra (France),0,1,0,0,0,1
Zi Yan,0,0,0,1,0,1
Zina Garrison,0,0,1,0,0,1
Zina Garrison(2),0,0,1,0,0,1
Ándre Gobert,1,0,0,0,0,1

In [141]:
# Merge championship_counts with most_recent_win on the 'Champions' column
championship_summary = championship_counts.merge(most_recent_win, on='Champions')

# Display the merged DataFrame
output = championship_summary
output

,Champions,Men's Doubles,Men's Singles,Mixed Doubles,Women's Doubles,Women's Singles,Total Championships,Most Recent Win
0,Adrian Quist,2,0,0,0,0,2,1950
1,Agnes Morton,0,0,0,1,0,1,1914
2,Agnes Tuckey,0,0,1,0,0,1,1913
3,Ai Sugiyama,0,0,0,1,0,1,2003
4,Alejandro Olmedo (Peru),0,1,0,0,0,1,1959
...,...,...,...,...,...,...,...,...
513,Yvon Petra (France),0,1,0,0,0,1,1946
514,Zi Yan,0,0,0,1,0,1,2006
515,Zina Garrison,0,0,1,0,0,1,1988
516,Zina Garrison(2),0,0,1,0,0,1,1990
517,Ándre Gobert,1,0,0,0,0,1,1911