In [320]:
import pandas as pd
import numpy as np

In [321]:
# Read the CSV and Excel files
df = pd.read_csv('PD 2024 Wk 1 Output Flow Card.csv')

# Display the first few rows of each dataframe
print(df)

            Date Flight Number      From        To            Class   Price  \
0     22/07/2024         PA010     Tokyo  New York          Economy  2380.0
1     20/04/2024         PA002  New York    London          Economy  3490.0
2     23/01/2024         PA010     Tokyo  New York  Premium Economy   825.0
3     05/06/2024         PA006     Tokyo    London      First Class   618.0
4     30/03/2024         PA004     Perth    London      First Class   446.0
...          ...           ...       ...       ...              ...     ...
1878  23/11/2024         PA005    London     Tokyo          Economy  2070.0
1879  04/11/2024         PA003    London     Perth      First Class   210.0
1880  29/04/2024         PA012     Tokyo     Perth          Economy  3490.0
1881  26/09/2024         PA001    London  New York      First Class   207.0
1882  06/01/2024         PA004     Perth    London      First Class   236.0

     Flow Card?  Bags Checked   Meal Type
0           Yes             0    Egg Free
1           Yes             1       Vegan
2           Yes             1  Vegetarian
3           Yes             3       Vegan
4           Yes             1    Nut Free
...         ...           ...         ...
1878        Yes             2    Egg Free
1879        Yes             3    Nut Free
1880        Yes             0  Dairy Free
1881        Yes             2  Vegetarian
1882        Yes             1    Nut Free

[1883 rows x 9 columns]

In [322]:
df2 = pd.read_csv('PD 2024 Wk 1 Output Non-Flow Card.csv')
print(df2)

            Date Flight Number      From        To            Class   Price  \
0     28/09/2024         PA008     Perth  New York          Economy  1855.0
1     01/10/2024         PA008     Perth  New York   Business Class   634.8
2     04/03/2024         PA007  New York     Perth   Business Class   458.4
3     25/02/2024         PA010     Tokyo  New York  Premium Economy  1435.0
4     29/03/2024         PA004     Perth    London          Economy  2730.0
...          ...           ...       ...       ...              ...     ...
1890  06/03/2024         PA006     Tokyo    London  Premium Economy   940.0
1891  05/05/2024         PA009  New York     Tokyo          Economy  1360.0
1892  14/06/2024         PA008     Perth  New York      First Class   245.0
1893  16/01/2024         PA010     Tokyo  New York          Economy  2410.0
1894  16/08/2024         PA005    London     Tokyo  Premium Economy   960.0

     Flow Card?  Bags Checked   Meal Type
0            No             2  Vegetarian
1            No             0  Vegetarian
2            No             3    Nut Free
3            No             0         NaN
4            No             2       Vegan
...         ...           ...         ...
1890         No             2  Vegetarian
1891         No             3    Nut Free
1892         No             1  Dairy Free
1893         No             2    Egg Free
1894         No             0    Nut Free

[1895 rows x 9 columns]

In [323]:
# Load the Excel file
excel_file = pd.ExcelFile('PD 2024 Wk 3 Input.xlsx')

# Display the sheet names
print(excel_file.sheet_names)

['Q1', 'Q2', 'Q3', 'Q4']

In [324]:
# Read the sheets from the Excel file
df3 = pd.read_excel('PD 2024 Wk 3 Input.xlsx', sheet_name='Q1')
df4 = pd.read_excel('PD 2024 Wk 3 Input.xlsx', sheet_name='Q2')
df5 = pd.read_excel('PD 2024 Wk 3 Input.xlsx', sheet_name='Q3')
df6 = pd.read_excel('PD 2024 Wk 3 Input.xlsx', sheet_name='Q4')

# Display the first few rows of each dataframe
print(df3.head())
print(df4.head())
print(df5.head())
print(df6.head())

   Month Class  Target
0      1    FC  120000
1      2    FC  130000
2      3    FC  140000
3      1    BC   85000
4      2    BC   86000
   Month Class  Target
0      4    FC  160000
1      5    FC  170000
2      6    FC  180000
3      4    BC   88000
4      5    BC   89000
   Month Class  Target
0      7    FC  190000
1      8    FC  200000
2      9    FC  210000
3      7    BC   92000
4      8    BC   93000
   Month Class  Target
0     10    FC  220000
1     11    FC  230000
2     12    FC  240000
3     10    BC   98000
4     11    BC   99000

In [325]:
df3 = pd.concat([df3, df4, df5, df6], ignore_index=True)
print(df3)

    Month Class  Target
0       1    FC  120000
1       2    FC  130000
2       3    FC  140000
3       1    BC   85000
4       2    BC   86000
5       3    BC   87000
6       1    PE   40000
7       2    PE   40500
8       3    PE   41000
9       1     E   31000
10      2     E   31500
11      3     E   32000
12      4    FC  160000
13      5    FC  170000
14      6    FC  180000
15      4    BC   88000
16      5    BC   89000
17      6    BC   90000
18      4    PE   42500
19      5    PE   43000
20      6    PE   43500
21      4     E   34000
22      5     E   34500
23      6     E   35000
24      7    FC  190000
25      8    FC  200000
26      9    FC  210000
27      7    BC   92000
28      8    BC   93000
29      9    BC   95000
30      7    PE   46000
31      8    PE   46500
32      9    PE   47000
33      7     E   37000
34      8     E   37500
35      9     E   38000
36     10    FC  220000
37     11    FC  230000
38     12    FC  240000
39     10    BC   98000
40     11    BC   99000
41     12    BC  100000
42     10    PE   48000
43     11    PE   48500
44     12    PE   49000
45     10     E   39000
46     11     E   39500
47     12     E   40000

In [326]:
df = pd.concat([df, df2], ignore_index=True)
print(df_union)

      Date Flight Number      From        To Class   Price Flow Card?  \
0        7         PA010     Tokyo  New York     F  2380.0        Yes
1        4         PA002  New York    London     F  3490.0        Yes
2        1         PA010     Tokyo  New York     B   825.0        Yes
3        6         PA006     Tokyo    London     E   618.0        Yes
4        3         PA004     Perth    London     E   446.0        Yes
...    ...           ...       ...       ...   ...     ...        ...
3773     3         PA006     Tokyo    London     B   940.0         No
3774     5         PA009  New York     Tokyo     F  1360.0         No
3775     6         PA008     Perth  New York     E   245.0         No
3776     1         PA010     Tokyo  New York     F  2410.0         No
3777     8         PA005    London     Tokyo     B   960.0         No

      Bags Checked   Meal Type
0                0    Egg Free
1                1       Vegan
2                1  Vegetarian
3                3       Vegan
4                1    Nut Free
...            ...         ...
3773             2  Vegetarian
3774             3    Nut Free
3775             1  Dairy Free
3776             2    Egg Free
3777             0    Nut Free

[3778 rows x 9 columns]

In [327]:
df['Class'] = df['Class'].replace({
    'Economy': 'First Class',
    'First Class': 'Economy',
    'Business Class': 'Premium Economy',
    'Premium Economy': 'Business Class'
})
print(df)

            Date Flight Number      From        To           Class   Price  \
0     22/07/2024         PA010     Tokyo  New York     First Class  2380.0
1     20/04/2024         PA002  New York    London     First Class  3490.0
2     23/01/2024         PA010     Tokyo  New York  Business Class   825.0
3     05/06/2024         PA006     Tokyo    London         Economy   618.0
4     30/03/2024         PA004     Perth    London         Economy   446.0
...          ...           ...       ...       ...             ...     ...
3773  06/03/2024         PA006     Tokyo    London  Business Class   940.0
3774  05/05/2024         PA009  New York     Tokyo     First Class  1360.0
3775  14/06/2024         PA008     Perth  New York         Economy   245.0
3776  16/01/2024         PA010     Tokyo  New York     First Class  2410.0
3777  16/08/2024         PA005    London     Tokyo  Business Class   960.0

     Flow Card?  Bags Checked   Meal Type
0           Yes             0    Egg Free
1           Yes             1       Vegan
2           Yes             1  Vegetarian
3           Yes             3       Vegan
4           Yes             1    Nut Free
...         ...           ...         ...
3773         No             2  Vegetarian
3774         No             3    Nut Free
3775         No             1  Dairy Free
3776         No             2    Egg Free
3777         No             0    Nut Free

[3778 rows x 9 columns]

In [328]:
df['Class'] = df['Class'].apply(lambda x: ''.join([word[0] for word in x.split()]))
print(df)

            Date Flight Number      From        To Class   Price Flow Card?  \
0     22/07/2024         PA010     Tokyo  New York    FC  2380.0        Yes
1     20/04/2024         PA002  New York    London    FC  3490.0        Yes
2     23/01/2024         PA010     Tokyo  New York    BC   825.0        Yes
3     05/06/2024         PA006     Tokyo    London     E   618.0        Yes
4     30/03/2024         PA004     Perth    London     E   446.0        Yes
...          ...           ...       ...       ...   ...     ...        ...
3773  06/03/2024         PA006     Tokyo    London    BC   940.0         No
3774  05/05/2024         PA009  New York     Tokyo    FC  1360.0         No
3775  14/06/2024         PA008     Perth  New York     E   245.0         No
3776  16/01/2024         PA010     Tokyo  New York    FC  2410.0         No
3777  16/08/2024         PA005    London     Tokyo    BC   960.0         No

      Bags Checked   Meal Type
0                0    Egg Free
1                1       Vegan
2                1  Vegetarian
3                3       Vegan
4                1    Nut Free
...            ...         ...
3773             2  Vegetarian
3774             3    Nut Free
3775             1  Dairy Free
3776             2    Egg Free
3777             0    Nut Free

[3778 rows x 9 columns]

In [329]:
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y').dt.month
print(df)

      Date Flight Number      From        To Class   Price Flow Card?  \
0        7         PA010     Tokyo  New York    FC  2380.0        Yes
1        4         PA002  New York    London    FC  3490.0        Yes
2        1         PA010     Tokyo  New York    BC   825.0        Yes
3        6         PA006     Tokyo    London     E   618.0        Yes
4        3         PA004     Perth    London     E   446.0        Yes
...    ...           ...       ...       ...   ...     ...        ...
3773     3         PA006     Tokyo    London    BC   940.0         No
3774     5         PA009  New York     Tokyo    FC  1360.0         No
3775     6         PA008     Perth  New York     E   245.0         No
3776     1         PA010     Tokyo  New York    FC  2410.0         No
3777     8         PA005    London     Tokyo    BC   960.0         No

      Bags Checked   Meal Type
0                0    Egg Free
1                1       Vegan
2                1  Vegetarian
3                3       Vegan
4                1    Nut Free
...            ...         ...
3773             2  Vegetarian
3774             3    Nut Free
3775             1  Dairy Free
3776             2    Egg Free
3777             0    Nut Free

[3778 rows x 9 columns]

In [330]:
total_price = df.groupby(['Class', 'Date'])['Price'].sum().reset_index()
print(total_price)

   Class  Date     Price
0     BC     1   67297.5
1     BC     2   69222.5
2     BC     3   84357.5
3     BC     4   81522.5
4     BC     5   85065.0
5     BC     6   85735.0
6     BC     7   97490.0
7     BC     8  106852.5
8     BC     9   87590.0
9     BC    10   94135.0
10    BC    11   85970.0
11    BC    12  100485.0
12     E     1   36081.0
13     E     2   30968.0
14     E     3   31829.0
15     E     4   31333.0
16     E     5   42898.0
17     E     6   31440.0
18     E     7   38941.0
19     E     8   32820.0
20     E     9   27724.0
21     E    10   32500.0
22     E    11   34023.0
23     E    12   43588.0
24    FC     1  193960.0
25    FC     2  145665.0
26    FC     3  152315.0
27    FC     4  224415.0
28    FC     5  171610.0
29    FC     6  149725.0
30    FC     7  172425.0
31    FC     8  209625.0
32    FC     9  200960.0
33    FC    10  186185.0
34    FC    11  154595.0
35    FC    12  188015.0
36    PE     1   48555.6
37    PE     2   46335.6
38    PE     3   47875.2
39    PE     4   38233.2
40    PE     5   43833.6
41    PE     6   46538.4
42    PE     7   40258.8
43    PE     8   41468.4
44    PE     9   42054.0
45    PE    10   43689.6
46    PE    11   39372.0
47    PE    12   45348.0

In [331]:
output = pd.merge(df3, total_price, left_on=['Class', 'Month'], right_on=['Class', 'Date'])
print(output)

    Month Class  Target  Date     Price
0       1    FC  120000     1  193960.0
1       2    FC  130000     2  145665.0
2       3    FC  140000     3  152315.0
3       1    BC   85000     1   67297.5
4       2    BC   86000     2   69222.5
5       3    BC   87000     3   84357.5
6       1    PE   40000     1   48555.6
7       2    PE   40500     2   46335.6
8       3    PE   41000     3   47875.2
9       1     E   31000     1   36081.0
10      2     E   31500     2   30968.0
11      3     E   32000     3   31829.0
12      4    FC  160000     4  224415.0
13      5    FC  170000     5  171610.0
14      6    FC  180000     6  149725.0
15      4    BC   88000     4   81522.5
16      5    BC   89000     5   85065.0
17      6    BC   90000     6   85735.0
18      4    PE   42500     4   38233.2
19      5    PE   43000     5   43833.6
20      6    PE   43500     6   46538.4
21      4     E   34000     4   31333.0
22      5     E   34500     5   42898.0
23      6     E   35000     6   31440.0
24      7    FC  190000     7  172425.0
25      8    FC  200000     8  209625.0
26      9    FC  210000     9  200960.0
27      7    BC   92000     7   97490.0
28      8    BC   93000     8  106852.5
29      9    BC   95000     9   87590.0
30      7    PE   46000     7   40258.8
31      8    PE   46500     8   41468.4
32      9    PE   47000     9   42054.0
33      7     E   37000     7   38941.0
34      8     E   37500     8   32820.0
35      9     E   38000     9   27724.0
36     10    FC  220000    10  186185.0
37     11    FC  230000    11  154595.0
38     12    FC  240000    12  188015.0
39     10    BC   98000    10   94135.0
40     11    BC   99000    11   85970.0
41     12    BC  100000    12  100485.0
42     10    PE   48000    10   43689.6
43     11    PE   48500    11   39372.0
44     12    PE   49000    12   45348.0
45     10     E   39000    10   32500.0
46     11     E   39500    11   34023.0
47     12     E   40000    12   43588.0

In [332]:
output['Difference from Target'] = output['Price'] - output['Target']
print(output)

    Month Class  Target  Date     Price  Difference from Target
0       1    FC  120000     1  193960.0                 73960.0
1       2    FC  130000     2  145665.0                 15665.0
2       3    FC  140000     3  152315.0                 12315.0
3       1    BC   85000     1   67297.5                -17702.5
4       2    BC   86000     2   69222.5                -16777.5
5       3    BC   87000     3   84357.5                 -2642.5
6       1    PE   40000     1   48555.6                  8555.6
7       2    PE   40500     2   46335.6                  5835.6
8       3    PE   41000     3   47875.2                  6875.2
9       1     E   31000     1   36081.0                  5081.0
10      2     E   31500     2   30968.0                  -532.0
11      3     E   32000     3   31829.0                  -171.0
12      4    FC  160000     4  224415.0                 64415.0
13      5    FC  170000     5  171610.0                  1610.0
14      6    FC  180000     6  149725.0                -30275.0
15      4    BC   88000     4   81522.5                 -6477.5
16      5    BC   89000     5   85065.0                 -3935.0
17      6    BC   90000     6   85735.0                 -4265.0
18      4    PE   42500     4   38233.2                 -4266.8
19      5    PE   43000     5   43833.6                   833.6
20      6    PE   43500     6   46538.4                  3038.4
21      4     E   34000     4   31333.0                 -2667.0
22      5     E   34500     5   42898.0                  8398.0
23      6     E   35000     6   31440.0                 -3560.0
24      7    FC  190000     7  172425.0                -17575.0
25      8    FC  200000     8  209625.0                  9625.0
26      9    FC  210000     9  200960.0                 -9040.0
27      7    BC   92000     7   97490.0                  5490.0
28      8    BC   93000     8  106852.5                 13852.5
29      9    BC   95000     9   87590.0                 -7410.0
30      7    PE   46000     7   40258.8                 -5741.2
31      8    PE   46500     8   41468.4                 -5031.6
32      9    PE   47000     9   42054.0                 -4946.0
33      7     E   37000     7   38941.0                  1941.0
34      8     E   37500     8   32820.0                 -4680.0
35      9     E   38000     9   27724.0                -10276.0
36     10    FC  220000    10  186185.0                -33815.0
37     11    FC  230000    11  154595.0                -75405.0
38     12    FC  240000    12  188015.0                -51985.0
39     10    BC   98000    10   94135.0                 -3865.0
40     11    BC   99000    11   85970.0                -13030.0
41     12    BC  100000    12  100485.0                   485.0
42     10    PE   48000    10   43689.6                 -4310.4
43     11    PE   48500    11   39372.0                 -9128.0
44     12    PE   49000    12   45348.0                 -3652.0
45     10     E   39000    10   32500.0                 -6500.0
46     11     E   39500    11   34023.0                 -5477.0
47     12     E   40000    12   43588.0                  3588.0