# 2024: Week 7 - Valentine's Day
F
ebruary 14, 2024

Challenge by: Jenny Martin

We'll take a break from helping Prep Air for this challenge, but don't worry, it's for a good cause! We've got a number of couples who want some inspiration for Valentine's Day gifts (since this challenge is being released on Valentine's Day!) We want to count the number of Valentine's Days that the couples have been together for, so they can get inspired on how to theme their gifts this year.

### Inputs
A list of the couples and when their relationships began.

![1](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgQgofF94fRl1zbPMA6k26sozMJVyJzY1eCkzG-X4r5spdUfGW8b_TGw3alNS5MnOI3tOhMIDPOF5JLazA7J1UFfaYPkOpHTCYnzevk97y6DK55hULi2_ZQNe7dYmtOhd_sbnEBfE4c2WaErxR_bBZ_W3WGDbINgUC2hsnnagpwZGJM25Q3ogzidkNPqe1l/s464/Screenshot%202024-02-05%20110145.png)

Gift ideas based on the length of time they've been together (based on this website)

![2](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi0v60wvc8Xu8NRl1-BNyGmZ3qWufnMW9tcmmbxVPla020Opzs594-ZCynct1MTU1ctGCZeKj61vWPcrRXa1jrqB3qMv7viMkE-oHblk6zd-I00exq8cSRfYtx0PTWr0yljsqpqxvjxYqa1C8urR7eF_BWqqRHEXZjHiD9tqgHt-KPWtBXM95JTbPiYXHHM/s310/Screenshot%202024-02-05%20110222.png)

### Requirements
- Input the data
- Fix the Relationship Start field so that it has a Date data type
- Create a field for today's date (14/02/2024)
- To count the number of Valentine's days, we need to think a little more creatively than using a simple datediff function to count the number of years. A couple of potential routes could be:
- Scaffolding the data so there is a row per day, filtering to Valentine's days and counting the number of rows
- A logical calculation that takes into consideration whether the Couple's Relationship Start date is before or after Valentines Day
- To prepare to join onto the Gift ideas dataset, make the Year field match the data type of the Number of Valentine's field
- Join the 2 datasets together
- Remove unnecessary fields
- Output the data

### Output

![2](https://blogger.googleusercontent.com/img/a/AVvXsEivHLS2lH1RqdNLRN4nK8cyZF-TlTsevICcFqrNvRFVyqLkTs3M59W_eiW5EjdfXA4KNk-FDr6VZW7NXO3SsrhErFZ9_UB4B_SIRaH9Ul738qSSVv7NaNZ39oICu1Ws--WaHNWkaTkAnwqFpvs8G3gVzjv1MIt4sdxrzlsLawkxE1ihTECC8wIWUpgVqwnR)

- 3 fields
- Couple
- Number of Valentine's Days as a Couple
- Gift
- 10 rows

In [88]:
import pandas as pd

# Read the Excel file
excel_file = "Valentine's Preppin' Data.xlsx"

# List all sheet names
sheet_names = pd.ExcelFile(excel_file).sheet_names
print(sheet_names)

['Couples', 'Gifts']

In [89]:
df1 = pd.read_excel(excel_file, sheet_name='Couples')
print(df1)

          Couple  Relationship Start
0      The Loves    January 15, 2021
1      The Roses     October 8, 1964
2      The Harts        May 28, 2018
3   The Darlings    December 3, 2017
4      The Doves     August 21, 1994
5    The Archers   February 12, 2020
6    The Potters    November 4, 2015
7     The Bakers      April 17, 1989
8  The Gardeners        June 9, 1974
9  The Lovelaces  September 30, 2009

In [90]:
df2 = pd.read_excel(excel_file, sheet_name='Gifts')
print(df2)

    Year           Gift
0    1st          Paper
1    2nd         Cotton
2    3rd        Leather
3    4th  Fruit/Flowers
4    5th           Wood
5    6th           Iron
6    7th    Copper/Wool
7    8th         Bronze
8    9th        Pottery
9   10th  Aluminium/Tin
10  15th        Crystal
11  20th          China
12  25th         Silver
13  30th          Pearl
14  35th          Coral
15  40th           Ruby
16  45th       Sapphire
17  50th           Gold
18  55th        Emerald
19  60th        Diamond

In [91]:
# Convert the 'Relationship Start' column to a date
df1['Relationship Start'] = pd.to_datetime(df1['Relationship Start'])
print(df1)

          Couple Relationship Start
0      The Loves         2021-01-15
1      The Roses         1964-10-08
2      The Harts         2018-05-28
3   The Darlings         2017-12-03
4      The Doves         1994-08-21
5    The Archers         2020-02-12
6    The Potters         2015-11-04
7     The Bakers         1989-04-17
8  The Gardeners         1974-06-09
9  The Lovelaces         2009-09-30

In [92]:
# Create 'Today date' column with a fixed date
df1['Today date'] = pd.to_datetime('2024-02-14')
print(df1)

          Couple Relationship Start Today date
0      The Loves         2021-01-15 2024-02-14
1      The Roses         1964-10-08 2024-02-14
2      The Harts         2018-05-28 2024-02-14
3   The Darlings         2017-12-03 2024-02-14
4      The Doves         1994-08-21 2024-02-14
5    The Archers         2020-02-12 2024-02-14
6    The Potters         2015-11-04 2024-02-14
7     The Bakers         1989-04-17 2024-02-14
8  The Gardeners         1974-06-09 2024-02-14
9  The Lovelaces         2009-09-30 2024-02-14

In [93]:
# Calculate the number of Valentine's Days
df1["Number of Valentine's Days as a Couple"] = df1.apply(lambda row: row['Today date'].year - row['Relationship Start'].year - (1 if (row['Relationship Start'].month, row['Relationship Start'].day) > (2, 14) else 0) + 1, axis=1)
print(df1)

          Couple Relationship Start Today date  \
0      The Loves         2021-01-15 2024-02-14
1      The Roses         1964-10-08 2024-02-14
2      The Harts         2018-05-28 2024-02-14
3   The Darlings         2017-12-03 2024-02-14
4      The Doves         1994-08-21 2024-02-14
5    The Archers         2020-02-12 2024-02-14
6    The Potters         2015-11-04 2024-02-14
7     The Bakers         1989-04-17 2024-02-14
8  The Gardeners         1974-06-09 2024-02-14
9  The Lovelaces         2009-09-30 2024-02-14

   Number of Valentine's Days as a Couple
0                                       4
1                                      60
2                                       6
3                                       7
4                                      30
5                                       5
6                                       9
7                                      35
8                                      50
9                                      15

In [94]:
# Convert the 'Year' column in df2 to integer for merging
df2['Year'] = df2['Year'].str.extract('(\d+)').astype(int)

# Merge df1 and df2 on the number of Valentine's Days as a couple and the year
merged_df = pd.merge(df1, df2, left_on="Number of Valentine's Days as a Couple", right_on='Year', how='left')

# Drop the 'Year' column as it is no longer needed
merged_df = merged_df.drop(columns=['Year'])

print(merged_df)

          Couple Relationship Start Today date  \
0      The Loves         2021-01-15 2024-02-14
1      The Roses         1964-10-08 2024-02-14
2      The Harts         2018-05-28 2024-02-14
3   The Darlings         2017-12-03 2024-02-14
4      The Doves         1994-08-21 2024-02-14
5    The Archers         2020-02-12 2024-02-14
6    The Potters         2015-11-04 2024-02-14
7     The Bakers         1989-04-17 2024-02-14
8  The Gardeners         1974-06-09 2024-02-14
9  The Lovelaces         2009-09-30 2024-02-14

   Number of Valentine's Days as a Couple           Gift
0                                       4  Fruit/Flowers
1                                      60        Diamond
2                                       6           Iron
3                                       7    Copper/Wool
4                                      30          Pearl
5                                       5           Wood
6                                       9        Pottery
7                                      35          Coral
8                                      50           Gold
9                                      15        Crystal

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Raguna\AppData\Local\Temp\ipykernel_2832\2129536653.py:2: SyntaxWarning: invalid escape sequence '\d'
  df2['Year'] = df2['Year'].str.extract('(\d+)').astype(int)

In [95]:
# Sort the merged dataframe by the number of Valentine's Days as a couple
sorted_df = merged_df.sort_values(by="Number of Valentine's Days as a Couple")
print(sorted_df)

          Couple Relationship Start Today date  \
0      The Loves         2021-01-15 2024-02-14
5    The Archers         2020-02-12 2024-02-14
2      The Harts         2018-05-28 2024-02-14
3   The Darlings         2017-12-03 2024-02-14
6    The Potters         2015-11-04 2024-02-14
9  The Lovelaces         2009-09-30 2024-02-14
4      The Doves         1994-08-21 2024-02-14
7     The Bakers         1989-04-17 2024-02-14
8  The Gardeners         1974-06-09 2024-02-14
1      The Roses         1964-10-08 2024-02-14

   Number of Valentine's Days as a Couple           Gift
0                                       4  Fruit/Flowers
5                                       5           Wood
2                                       6           Iron
3                                       7    Copper/Wool
6                                       9        Pottery
9                                      15        Crystal
4                                      30          Pearl
7                                      35          Coral
8                                      50           Gold
1                                      60        Diamond

In [96]:
output = sorted_df.drop(columns=['Today date','Relationship Start'])
print(output)

          Couple  Number of Valentine's Days as a Couple           Gift
0      The Loves                                       4  Fruit/Flowers
5    The Archers                                       5           Wood
2      The Harts                                       6           Iron
3   The Darlings                                       7    Copper/Wool
6    The Potters                                       9        Pottery
9  The Lovelaces                                      15        Crystal
4      The Doves                                      30          Pearl
7     The Bakers                                      35          Coral
8  The Gardeners                                      50           Gold
1      The Roses                                      60        Diamond