# 2024: Week 5 - Getting the right data
January 31, 2024
Challenge by: Jenny Martin

It's the final week of beginner month and we're going to spend a little more time diving deeper into joins, calculations and outputs. 

Prep Air are interested in creating a workflow that has multiple outputs depending on user requirements. They want users to be able to answer the following questions:

What are the details of the customers who have booked flights and which routes are they travelling on?
Which customers are yet to book a flight in 2024?
Which flights are yet to be booked by customers in 2024?
The datasets you'll be working with are fairly large so you'll need to decide which tables to join (and when) to be as efficient as possible. You may wish to use this as an opportunity to explore the sampling options in Tableau Prep too!
### Inputs
There are 3 tables to connect to for this challenge:

Prep Air Ticket Sales

![input](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhjox-rOgBngYN4JteQsy5tsOhm7e0Rozq2mLyxTbbeGATjUj9XTDIt41oXKD_vj74GeaxEviRxBvOWO9llrGe98rRhe8U5r8s6pMvXrh87-RakwLJa3j_MGa_O2a8veACfqTfDEP4YenIHJByZFgV-UxZH3XfcvgadM3PcOS5XmNjmATaENJFlF58RIet2/s592/Tickets.png)

Prep Air 2024 Flights

![2](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjZVSj6evhn-q0fbkW6OTBqJIp4Kj8Lmx0zSJ_LJm3Zu2CGfdnPzC-Hd5uEO3_LajHTE66iBn1VgPaMBQA3NC0G0sat45FdyYXzKrTdPvBqjyxQzHwV28H-jaO01jks2E3wUI-l5G9rkdQl61WSvUmUlOOL44rMAU28eC8qh9gQPOUrct-zTtdxfgljM0F5/s522/2024%20Flights.png)

Prep Air Customers

![3](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjcf3A6ykpd5eiHmuPpKFx9D74l8hdgpU4vQeHK5yt85yC-_aG4QEZohnzitGpKZarrhkxGykjmFLO-rmWctx-KPJGF0LmT9W3Z9DU3qTiOB7cb-LFHe43xOpPbz4KM_UZ6JWynOt7AxWMoZWzczA8-qtotbLUg4XukTh65y6_1CWM42EQ6avG54zjs2F3L/s1466/Customers.png)

### Requirements
- Input the data
- For the first output:
- Create a dataset that gives all the customer details for booked flights in 2024. Make sure the output also includes details on the flights origin and destination
- When outputting the data, create an excel file with a new sheet for each output (so 1 file for all outputs this week!)
- For the second output:
- Create a dataset that allows Prep Air to identify which flights have not yet been booked in 2024
- Add a datestamp field to this dataset for today's date (31/01/2024) so that Prep Air know the unbooked flights as of the day the workflow is run
- When outputting the table to a new sheet in the Excel Workbook, choose the option "Append to Table" under Write Options. This means that if the workflow is run on a different day, - the results will add additional rows to the dataset, rather than overwriting the previous run's data
- For the third output:
- Create a dataset that shows which customers have yet to book a flight with Prep Air in 2024
- Create a field which will allow Prep Air to see how many days it has been since the customer last flew (compared to 31/01/2024)
- Categorise customers into the following groups:
- Recent fliers - flown within the last 3 months
- Taking a break - 3-6 months since last flight
- Been away a while - 6-9 months since last flight
- Lapsed Customers - over 9 months since last flight
- Output the data to a new sheet in the Excel Workbook

### Outputs

2024 Booked Flights Output:

![4](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigKzaYa-x_tGXrn5miIce9RK-dIR_YKRvsdGU_5CkTuvXY8uptrZ-MLVzAf58yXYV5o_IWg7pvxQBbKFWl6Cud-UJCOq1BxioQ3VBsNL9I3IaiV4PajHDvQ_cgl_7GHiNMFMKdkOdHFevFCLzUIAC3vP7ashYf3Kv-Ce0srdw8vRIC2NOOKmzoDJsqRIEw/s1661/Screenshot%202024-01-29%20150158.png)

11 fields
- Date
- From
- To
- Flight Number
- Customer ID
- Last Date Flown
- first_name
- last_name
- email
- gender
- Ticket Price
- 44,768 rows (44,769 including headers)

Unbooked Flights Output:

![5](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgiff4t4sFY1sXnl6Yk9rZftUCe0N2L_sLe8jeuoOhUTd3Kxs2GAQ91yp8SYPo6v2l9V61EKtEItuQQjBP9r4oRv25s1gNTwtf_ohe9LW9qt-i6wnMlmPlzCTye4iUhKcCxqYq_esAwREfzB_prWIUFETExMP54YDj4U2bxGwU4WYA8Zhlggd3G1cfFXfIB/s667/Unbooked%20Flights%20as%20of%203101.png)

5 fields
- Flight unbooked as of
- Date
- Flight Number
- From
- To
- 296 rows (297 including headers)

Customers Yet to Book in 2024 Output:

![6](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgcqz-aaHR19zzHXFNiRLELU8TmijHXfGnDw9UQzAtcvMv5WnMg2Xm0prStSQ9ineMHM5yCiV10_yBj25FyU9FUWIGCl6ebzv_mB6p8GwRiWJ3NWXf0eOnjbLtDFHcUgoByWgZDRBlaJhU4uBThFgAITrBaV0xzK-ehMjaWbTvnKnsNkAUNh2rLrKxOeoPr/s1667/Customers%20yet%20to%20book.png)

8 fields
- Customer ID
- Customer Category
- Days Since Last Flown
- Last Date Flown
- first_name
- last_name
- email
- gender
- 1,260 rows (1,261 including headers)

In [37]:
import pandas as pd

# Read the CSV files
df1 = pd.read_csv('Prep Air Ticket Sales.csv')
df2 = pd.read_csv('Prep Air 2024 Flights.csv')
df3 = pd.read_csv('Prep Air Customers.csv')

# Display the first few rows of each dataframe to verify
print(df1.head())
print(df2.head())
print(df3.head())

         Date Flight Number  Customer ID  Ticket Price
0  2024-01-03         PA001          232        818.99
1  2024-01-03         PA001          293       1947.99
2  2024-01-03         PA001          472       1350.99
3  2024-01-03         PA001          572        905.99
4  2024-01-03         PA001         1191        567.99
         Date Flight Number      From        To
0  2024-11-22         PA001    London  New York
1  2024-11-23         PA001    London  New York
2  2024-11-23         PA002  New York    London
3  2024-11-24         PA001    London  New York
4  2024-11-27         PA001    London  New York
   Customer ID Last Date Flown first_name last_name  \
0            1      2023-01-05     Denyse    Gebuhr
1            2      2023-10-05      Keene  Devennie
2            3      2023-11-09      Tyler   McGrail
3            4      2023-11-22      Drusi    Ibeson
4            5      2023-12-23   Stanwood  Seacroft

                       email  gender
0       dgebuhr0@vinaora.com  Female
1     kdevennie1@plala.or.jp    Male
2          tmcgrail2@nyu.edu    Male
3     dibeson3@hostgator.com  Female
4  sseacroft4@wikispaces.com    Male

In [38]:
df_merged = pd.merge(df1, df2, on=['Date', 'Flight Number'], how='left')
print(df_merged.head())

         Date Flight Number  Customer ID  Ticket Price    From        To
0  2024-01-03         PA001          232        818.99  London  New York
1  2024-01-03         PA001          293       1947.99  London  New York
2  2024-01-03         PA001          472       1350.99  London  New York
3  2024-01-03         PA001          572        905.99  London  New York
4  2024-01-03         PA001         1191        567.99  London  New York

In [39]:
output1 = pd.merge(df_merged, df3, on='Customer ID', how='left')
print(output1)

             Date Flight Number  Customer ID  Ticket Price    From        To  \
0      2024-01-03         PA001          232        818.99  London  New York
1      2024-01-03         PA001          293       1947.99  London  New York
2      2024-01-03         PA001          472       1350.99  London  New York
3      2024-01-03         PA001          572        905.99  London  New York
4      2024-01-03         PA001         1191        567.99  London  New York
...           ...           ...          ...           ...     ...       ...
44763  2024-11-17         PA012         5949       1404.99   Tokyo     Perth
44764  2024-11-17         PA012         9547        838.99   Tokyo     Perth
44765  2024-11-18         PA011         9109       1930.99   Perth     Tokyo
44766  2024-11-18         PA012         9109        187.99   Tokyo     Perth
44767  2024-11-20         PA011         2814       1182.99   Perth     Tokyo

      Last Date Flown first_name  last_name                       email  \
0          2024-01-03        Arv  Ballinger  aballinger6f@hostgator.com
1          2024-01-03     Corney      Arger            carger84@mac.com
2          2024-01-03       Katy      Akram    kakramd3@marketwatch.com
3          2024-01-03      Jocko    Bolwell     jbolwellfv@hubpages.com
4          2024-01-03     Gennie       Head       ghead5a@imageshack.us
...               ...        ...        ...                         ...
44763      2023-08-12        Oby    Dannehl        odannehlqc@upenn.edu
44764      2023-03-10      Gregg   Mumbeson      gmumbesonf6@rambler.ru
44765      2023-11-10     Marian    Yukhtin       myukhtin30@amazon.com
44766      2023-11-10     Marian    Yukhtin       myukhtin30@amazon.com
44767      2024-01-09      Debee     Kenion        dkenionml@disqus.com

           gender
0            Male
1            Male
2          Female
3            Male
4          Female
...           ...
44763        Male
44764  Non-binary
44765      Female
44766      Female
44767      Female

[44768 rows x 11 columns]

In [40]:
# Identify unbooked flights
unbooked_flights = df2[~df2[['Date', 'Flight Number']].apply(tuple, axis=1).isin(df1[['Date', 'Flight Number']].apply(tuple, axis=1))]

# Add a datestamp field for today's date (31/01/2024)
unbooked_flights['Flight unbooked as of'] = '2024-01-31'

print(unbooked_flights)

           Date Flight Number      From        To Flight unbooked as of
0    2024-11-22         PA001    London  New York            2024-01-31
1    2024-11-23         PA001    London  New York            2024-01-31
2    2024-11-23         PA002  New York    London            2024-01-31
3    2024-11-24         PA001    London  New York            2024-01-31
4    2024-11-27         PA001    London  New York            2024-01-31
..          ...           ...       ...       ...                   ...
291  2024-12-27         PA012     Tokyo     Perth            2024-01-31
292  2024-12-28         PA012     Tokyo     Perth            2024-01-31
293  2024-12-29         PA011     Perth     Tokyo            2024-01-31
294  2024-12-30         PA011     Perth     Tokyo            2024-01-31
295  2024-12-31         PA011     Perth     Tokyo            2024-01-31

[296 rows x 5 columns]

C:\Users\Raguna\AppData\Local\Temp\ipykernel_6812\3911467660.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unbooked_flights['Flight unbooked as of'] = '2024-01-31'

In [41]:
# Merge df3 and df1 to find customers who haven't booked any flight in 2024
customers_no_flight_2024 = pd.merge(df3, df1, on='Customer ID', how='left', indicator=True)

# Filter out customers who have booked flights
customers_no_flight_2024 = customers_no_flight_2024[customers_no_flight_2024['_merge'] == 'left_only']

# Drop unnecessary columns
customers_no_flight_2024 = customers_no_flight_2024.drop(columns=['Date', 'Flight Number', 'Ticket Price', '_merge'])

print(customers_no_flight_2024)

       Customer ID Last Date Flown first_name last_name  \
11               3      2023-11-09      Tyler   McGrail
40               9      2023-06-05     Binnie   Jeckell
56              14      2023-05-02      Ashil    Tetlow
57              15      2023-05-18        Ayn  Bengtson
100             24      2023-02-15      Grace   Piesing
...            ...             ...        ...       ...
45908         9972      2023-10-14        Any   Mongeot
45917         9975      2023-03-04      Idell    Clyant
45927         9978      2023-04-21      Spike   Thaller
45989         9989      2023-11-06     Robbie   Grugerr
46020         9996      2023-09-16     Jelene  Dodgshun

                           email   gender
11             tmcgrail2@nyu.edu     Male
40       bjeckell8@123-reg.co.uk   Female
56        atetlowd@woothemes.com   Female
57      abengtsone@bloomberg.com   Female
100          gpiesingn@zdnet.com   Female
...                          ...      ...
45908     amongeotqz@twitter.com     Male
45917    iclyantr2@hostgator.com   Female
45927          sthallerr5@gov.uk  Agender
45989     rgrugerrrg@plala.or.jp   Female
46020  jdodgshunrn@angelfire.com   Female

[1260 rows x 6 columns]

In [42]:
# Convert 'Last Date Flown' to datetime
customers_no_flight_2024['Last Date Flown'] = pd.to_datetime(customers_no_flight_2024['Last Date Flown'])

# Reference date
reference_date = pd.to_datetime('2024-01-31')

# Calculate days since last flown
customers_no_flight_2024['Days Since Last Flown'] = (reference_date - customers_no_flight_2024['Last Date Flown']).dt.days

print(customers_no_flight_2024)

       Customer ID Last Date Flown first_name last_name  \
11               3      2023-11-09      Tyler   McGrail
40               9      2023-06-05     Binnie   Jeckell
56              14      2023-05-02      Ashil    Tetlow
57              15      2023-05-18        Ayn  Bengtson
100             24      2023-02-15      Grace   Piesing
...            ...             ...        ...       ...
45908         9972      2023-10-14        Any   Mongeot
45917         9975      2023-03-04      Idell    Clyant
45927         9978      2023-04-21      Spike   Thaller
45989         9989      2023-11-06     Robbie   Grugerr
46020         9996      2023-09-16     Jelene  Dodgshun

                           email   gender  Days Since Last Flown
11             tmcgrail2@nyu.edu     Male                     83
40       bjeckell8@123-reg.co.uk   Female                    240
56        atetlowd@woothemes.com   Female                    274
57      abengtsone@bloomberg.com   Female                    258
100          gpiesingn@zdnet.com   Female                    350
...                          ...      ...                    ...
45908     amongeotqz@twitter.com     Male                    109
45917    iclyantr2@hostgator.com   Female                    333
45927          sthallerr5@gov.uk  Agender                    285
45989     rgrugerrrg@plala.or.jp   Female                     86
46020  jdodgshunrn@angelfire.com   Female                    137

[1260 rows x 7 columns]

In [43]:
# Categorize customers based on days since last flown
def categorize_customer(days):
    if days <= 90:
        return 'Recent fliers'
    elif 90 < days <= 180:
        return 'Taking a break'
    elif 180 < days <= 270:
        return 'Been away a while'
    else:
        return 'Lapsed Customers'

customers_no_flight_2024['Customer Category'] = customers_no_flight_2024['Days Since Last Flown'].apply(categorize_customer)

print(customers_no_flight_2024)

       Customer ID Last Date Flown first_name last_name  \
11               3      2023-11-09      Tyler   McGrail
40               9      2023-06-05     Binnie   Jeckell
56              14      2023-05-02      Ashil    Tetlow
57              15      2023-05-18        Ayn  Bengtson
100             24      2023-02-15      Grace   Piesing
...            ...             ...        ...       ...
45908         9972      2023-10-14        Any   Mongeot
45917         9975      2023-03-04      Idell    Clyant
45927         9978      2023-04-21      Spike   Thaller
45989         9989      2023-11-06     Robbie   Grugerr
46020         9996      2023-09-16     Jelene  Dodgshun

                           email   gender  Days Since Last Flown  \
11             tmcgrail2@nyu.edu     Male                     83
40       bjeckell8@123-reg.co.uk   Female                    240
56        atetlowd@woothemes.com   Female                    274
57      abengtsone@bloomberg.com   Female                    258
100          gpiesingn@zdnet.com   Female                    350
...                          ...      ...                    ...
45908     amongeotqz@twitter.com     Male                    109
45917    iclyantr2@hostgator.com   Female                    333
45927          sthallerr5@gov.uk  Agender                    285
45989     rgrugerrrg@plala.or.jp   Female                     86
46020  jdodgshunrn@angelfire.com   Female                    137

       Customer Category
11         Recent fliers
40     Been away a while
56      Lapsed Customers
57     Been away a while
100     Lapsed Customers
...                  ...
45908     Taking a break
45917   Lapsed Customers
45927   Lapsed Customers
45989      Recent fliers
46020     Taking a break

[1260 rows x 8 columns]

In [44]:
output3 = customers_no_flight_2024
output2 = unbooked_flights
output1 = output1