In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('Input.csv')
print(df)

                                         Flight Details  Flow Card?  \
0      2024-07-22//PA010//Tokyo-New York//Economy//2380           1
1      2024-09-28//PA008//Perth-New York//Economy//1855           0
2     2024-04-20//PA002//New York-London//Economy//3490           1
3     2024-01-23//PA010//Tokyo-New York//Premium Eco...           1
4     2024-10-01//PA008//Perth-New York//Business Cl...           0
...                                                 ...         ...
3773   2024-05-05//PA009//New York-Tokyo//Economy//1360           0
3774  2024-06-14//PA008//Perth-New York//First Class...           0
3775   2024-01-16//PA010//Tokyo-New York//Economy//2410           0
3776  2024-08-16//PA005//London-Tokyo//Premium Econo...           0
3777  2024-01-06//PA004//Perth-London//First Class//236           1

      Bags Checked   Meal Type
0                0    Egg Free
1                2  Vegetarian
2                1       Vegan
3                1  Vegetarian
4                0  Vegetarian
...            ...         ...
3773             3    Nut Free
3774             1  Dairy Free
3775             2    Egg Free
3776             0    Nut Free
3777             1    Nut Free

[3778 rows x 4 columns]

In [20]:
# Split the 'Flight Details' column into multiple columns
df[['Date', 'Flight Number', 'Route', 'Class', 'Price']] = df['Flight Details'].str.split('//', expand=True)

# Drop the original 'Flight Details' column
df.drop(columns=['Flight Details'], inplace=True)

print(df)

      Flow Card?  Bags Checked   Meal Type        Date Flight Number  \
0              1             0    Egg Free  2024-07-22         PA010
1              0             2  Vegetarian  2024-09-28         PA008
2              1             1       Vegan  2024-04-20         PA002
3              1             1  Vegetarian  2024-01-23         PA010
4              0             0  Vegetarian  2024-10-01         PA008
...          ...           ...         ...         ...           ...
3773           0             3    Nut Free  2024-05-05         PA009
3774           0             1  Dairy Free  2024-06-14         PA008
3775           0             2    Egg Free  2024-01-16         PA010
3776           0             0    Nut Free  2024-08-16         PA005
3777           1             1    Nut Free  2024-01-06         PA004

                Route            Class               Price
0      Tokyo-New York          Economy                2380
1      Perth-New York          Economy                1855
2     New York-London          Economy                3490
3      Tokyo-New York  Premium Economy                 825
4      Perth-New York   Business Class  634.79999999999995
...               ...              ...                 ...
3773   New York-Tokyo          Economy                1360
3774   Perth-New York      First Class                 245
3775   Tokyo-New York          Economy                2410
3776     London-Tokyo  Premium Economy                 960
3777     Perth-London      First Class                 236

[3778 rows x 8 columns]

In [21]:
# Split the 'Route' column into 'Origin' and 'Destination' columns
df[['From', 'To']] = df['Route'].str.split('-', expand=True)

# Drop the original 'Route' column
df.drop(columns=['Route'], inplace=True)

print(df)

      Flow Card?  Bags Checked   Meal Type        Date Flight Number  \
0              1             0    Egg Free  2024-07-22         PA010
1              0             2  Vegetarian  2024-09-28         PA008
2              1             1       Vegan  2024-04-20         PA002
3              1             1  Vegetarian  2024-01-23         PA010
4              0             0  Vegetarian  2024-10-01         PA008
...          ...           ...         ...         ...           ...
3773           0             3    Nut Free  2024-05-05         PA009
3774           0             1  Dairy Free  2024-06-14         PA008
3775           0             2    Egg Free  2024-01-16         PA010
3776           0             0    Nut Free  2024-08-16         PA005
3777           1             1    Nut Free  2024-01-06         PA004

                Class               Price      From        To
0             Economy                2380     Tokyo  New York
1             Economy                1855     Perth  New York
2             Economy                3490  New York    London
3     Premium Economy                 825     Tokyo  New York
4      Business Class  634.79999999999995     Perth  New York
...               ...                 ...       ...       ...
3773          Economy                1360  New York     Tokyo
3774      First Class                 245     Perth  New York
3775          Economy                2410     Tokyo  New York
3776  Premium Economy                 960    London     Tokyo
3777      First Class                 236     Perth    London

[3778 rows x 9 columns]

In [22]:
print(df.dtypes)

Flow Card?        int64
Bags Checked      int64
Meal Type        object
Date             object
Flight Number    object
Class            object
Price            object
From             object
To               object
dtype: object

In [23]:
df['Date'] = pd.to_datetime(df['Date'])
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')

print(df.dtypes)

Flow Card?                int64
Bags Checked              int64
Meal Type                object
Date             datetime64[ns]
Flight Number            object
Class                    object
Price                   float64
From                     object
To                       object
dtype: object

In [24]:
df['Flow Card?'] = df['Flow Card?'].replace({1: 'Yes', 0: 'No'})
print(df)

     Flow Card?  Bags Checked   Meal Type       Date Flight Number  \
0           Yes             0    Egg Free 2024-07-22         PA010
1            No             2  Vegetarian 2024-09-28         PA008
2           Yes             1       Vegan 2024-04-20         PA002
3           Yes             1  Vegetarian 2024-01-23         PA010
4            No             0  Vegetarian 2024-10-01         PA008
...         ...           ...         ...        ...           ...
3773         No             3    Nut Free 2024-05-05         PA009
3774         No             1  Dairy Free 2024-06-14         PA008
3775         No             2    Egg Free 2024-01-16         PA010
3776         No             0    Nut Free 2024-08-16         PA005
3777        Yes             1    Nut Free 2024-01-06         PA004

                Class   Price      From        To
0             Economy  2380.0     Tokyo  New York
1             Economy  1855.0     Perth  New York
2             Economy  3490.0  New York    London
3     Premium Economy   825.0     Tokyo  New York
4      Business Class   634.8     Perth  New York
...               ...     ...       ...       ...
3773          Economy  1360.0  New York     Tokyo
3774      First Class   245.0     Perth  New York
3775          Economy  2410.0     Tokyo  New York
3776  Premium Economy   960.0    London     Tokyo
3777      First Class   236.0     Perth    London

[3778 rows x 9 columns]

In [25]:
df1 = df[df['Flow Card?'] == 'Yes']
df2 = df[df['Flow Card?'] == 'No']

In [26]:
print("DataFrame df1:")
print(df1)

DataFrame df1:
     Flow Card?  Bags Checked   Meal Type       Date Flight Number  \
0           Yes             0    Egg Free 2024-07-22         PA010
2           Yes             1       Vegan 2024-04-20         PA002
3           Yes             1  Vegetarian 2024-01-23         PA010
6           Yes             3       Vegan 2024-06-05         PA006
8           Yes             1    Nut Free 2024-03-30         PA004
...         ...           ...         ...        ...           ...
3764        Yes             2    Egg Free 2024-11-23         PA005
3766        Yes             3    Nut Free 2024-11-04         PA003
3770        Yes             0  Dairy Free 2024-04-29         PA012
3772        Yes             2  Vegetarian 2024-09-26         PA001
3777        Yes             1    Nut Free 2024-01-06         PA004

                Class   Price      From        To
0             Economy  2380.0     Tokyo  New York
2             Economy  3490.0  New York    London
3     Premium Economy   825.0     Tokyo  New York
6         First Class   618.0     Tokyo    London
8         First Class   446.0     Perth    London
...               ...     ...       ...       ...
3764          Economy  2070.0    London     Tokyo
3766      First Class   210.0    London     Perth
3770          Economy  3490.0     Tokyo     Perth
3772      First Class   207.0    London  New York
3777      First Class   236.0     Perth    London

[1883 rows x 9 columns]

In [27]:
print("\nDataFrame df2:")
print(df2)

DataFrame df2:
     Flow Card?  Bags Checked   Meal Type       Date Flight Number  \
1            No             2  Vegetarian 2024-09-28         PA008
4            No             0  Vegetarian 2024-10-01         PA008
5            No             3    Nut Free 2024-03-04         PA007
7            No             0         NaN 2024-02-25         PA010
13           No             2       Vegan 2024-03-29         PA004
...         ...           ...         ...        ...           ...
3771         No             2  Vegetarian 2024-03-06         PA006
3773         No             3    Nut Free 2024-05-05         PA009
3774         No             1  Dairy Free 2024-06-14         PA008
3775         No             2    Egg Free 2024-01-16         PA010
3776         No             0    Nut Free 2024-08-16         PA005

                Class   Price      From        To
1             Economy  1855.0     Perth  New York
4      Business Class   634.8     Perth  New York
5      Business Class   458.4  New York     Perth
7     Premium Economy  1435.0     Tokyo  New York
13            Economy  2730.0     Perth    London
...               ...     ...       ...       ...
3771  Premium Economy   940.0     Tokyo    London
3773          Economy  1360.0  New York     Tokyo
3774      First Class   245.0     Perth  New York
3775          Economy  2410.0     Tokyo  New York
3776  Premium Economy   960.0    London     Tokyo

[1895 rows x 9 columns]