# 2021: Week 1
January 06, 2021

Hello World...

Welcome to 2021 Preppin' Data. 

Since Jonathan (@JonathanAllenby) and I chatted by a coffee machine in Feb 2019, we along with Jenny Martin (@JennyMartinDS14) and Tom Prowse (@TomProwse1) have produced 99 challenges to date, completed by 305 different people, who have solved the challenges 2,424 times (that we know of!). 

The overall aim of Preppin' Data is to give people a place to learn the power of being able to prepare your own data sets (rather than relying on others) and the capabilities of Tableau Prep. If you want to know more, check out our first post.

For those of you who are new to Preppin' Data, here are some basics:

We release a new challenge each Wednesday
We post a written and video solution the following Tuesday
We build our challenges in Tableau Prep but welcome solutions from any other tool too. 
One change this year is Jonathan is taking a step back from the challenges but will come up with a tricky problem every now and then I am sure. This means for our regulars you don't need to tag him on Twitter anymore. 
New Year, New Challenges
Each January people all over the world might make resolutions to start a regular challenge to practice their skills so we wanted to facilitate that as best we could for a newer crowd to Prep Builder. 

The aim of January's challenges are to give you an introduction to Tableau Prep Builder. By going through these challenges you will be able to build fundamental skills with the tool, as well as data preparation skills applicable to all data work. 

Learning Resources

- Tableau Videos - how I learnt Desktop originally and works well for getting the basics on Prep Builder too. There are 12 short videos but you won't need to watch them all at once. You will need to sign up for a free Tableau account to watch the videos. 

- Jenny & Tom's excellent free online training series - currently 31 short videos going into more precision on the features of Prep. Did I mention free?

- Tableau Prep Up & Running - if you prefer your learning through words on a page, I wrote this book for beginner and intermediate users for Tableau Prep. 

Once you complete the challenge, you can post on our tracker, share an image (annotated if you want bonus points) on Twitter or the Tableau Forums. 

# Week 1's Challenge

Challenge by Carl Allchin

This week we are going to be focusing on cleaning data ready to answer some questions from our stakeholders. In the requirements I will be adding some links to some useful resources if you get stuck on a particular requirement. 

# Input
The input is a csv file (Text File input type on prep Builder). The file looks like this (just with a lot more rows).

<img src='https://1.bp.blogspot.com/-m11G7WH-ftY/X_NSuNX2e6I/AAAAAAAACFc/Zs4l5XIgQv8p3OflKifXhN8Y924iGJpHgCLcBGAsYHQ/w640-h240/Screenshot%2B2021-01-04%2Bat%2B17.38.47.png'>

There are 1,000 orders.

# Requirements
Here's what we need you to do:

* Connect and load the csv file (help)
* Split the 'Store-Bike' field into 'Store' and 'Bike' (help)
* Clean up the 'Bike' field to leave just three values in the 'Bike' field (Mountain, Gravel, Road) (help)
* Create two different cuts of the date field: 'quarter' and 'day of month' (help)
* Remove the first 10 orders as they are test values (help)
* Output the data as a csv (help)

# Output

<img src='https://1.bp.blogspot.com/-5dcGmoprvTg/X_NVYmeoxEI/AAAAAAAACFo/U38HGpwxTIwzdBPyOQspdLX9rRnLsfjGwCLcBGAsYHQ/w640-h258/Screenshot%2B2021-01-04%2Bat%2B17.50.16.png'>

8 Data Fields
* Quarter
* Day of Month
* Store
* Bike
* Order ID
* Customer Age
* Bike Value
* Existing Customer?
990 Rows (991 including Column Headers)

# Bonus task

We are conscious this shouldn't be too much of a stretch for our Preppin' regulars so we've set you a Desktop task too. 

Our stakeholder wants to know the average monthly bike value sold by each day in the month. Yeah, they even want the running total to see where they should be in terms of sales by that point. The stakeholder knows each quarter is significantly different so the running totals should be separated by quarter. 

Build this view using the output if you fancy taking on the extra task. 

<img src = 'https://1.bp.blogspot.com/-fA_a39JBRGg/X_NWG9PKLrI/AAAAAAAACF0/ZJRb6OhBSC0_KPlppEewDX3Sodj93OHIACLcBGAsYHQ/w400-h359/Screenshot%2B2021-01-04%2Bat%2B11.54.29.png'>

In [17]:
import pandas as pd

In [18]:
input = 'PD 2021 Wk 1 Input.xlsx'
df = pd.read_excel(input, sheet_name="Bike Sales")
print(df.head(5))
print(df.info())

   Order ID  Customer Age  Bike Value Existing Customer?       Date  \
0       1.0          22.0       481.0                 No 2021-04-25
1       2.0          28.0      1825.0                 No 2021-01-23
2       3.0          51.0      1903.0                 No 2021-07-03
3       4.0          59.0      1059.0                 No 2021-01-24
4       5.0          44.0      1764.0                Yes 2021-08-12

      Store - Bike
0      York - Road
1      York - Road
2      York - Rood
3      York - Road
4  York - Mountain
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order ID            1000 non-null   float64
 1   Customer Age        1000 non-null   float64
 2   Bike Value          1000 non-null   float64
 3   Existing Customer?  1000 non-null   object
 4   Date                1000 non-null   datetime64[ns]
 5   Store - Bike        1000 non-null   object
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 47.0+ KB
None

In [19]:
# Tìm max separator
max_separator = df['Store - Bike'].apply(lambda x: x.count(' - ')).max()

# Đặt tên các cột sẽ split ra
split_col_names = [f'Split {i+1}' for i in range(max_separator+1)]

# Split cột Store / Bike
df[split_col_names] = df['Store - Bike'].str.split(' - ', expand=True)
df.drop(columns='Store - Bike', inplace=True)
df.rename(columns={'Split 1':'Store', 'Split 2':'Bike'}, inplace=True)
print(df.head(5))

   Order ID  Customer Age  Bike Value Existing Customer?       Date Store  \
0       1.0          22.0       481.0                 No 2021-04-25  York
1       2.0          28.0      1825.0                 No 2021-01-23  York
2       3.0          51.0      1903.0                 No 2021-07-03  York
3       4.0          59.0      1059.0                 No 2021-01-24  York
4       5.0          44.0      1764.0                Yes 2021-08-12  York

       Bike
0      Road
1      Road
2      Rood
3      Road
4  Mountain

In [20]:
# Kiểm tra các giá trị unique của 2 cột mới
print(df['Store'].unique())
print(df['Bike'].unique())

['York' 'London' 'Leeds' 'Birmingham' 'Manchester']
['Road' 'Rood' 'Mountain' 'Gravel' 'Mountaen' 'Graval' 'Rowd' 'Gravle']

In [21]:
# Làm sạch giá trị cột Bike
df['Bike'] = df['Bike'].apply(lambda x: 'Road' if x in ['Rood', 'Rowd', 'Road'] else ('Moutain' if x in ['Mountain', 'Mountaen'] else ('Gravel' if x in ['Gravel', 'Gravle', 'Graval'] else None)))
print(df['Bike'].unique())

['Road' 'Moutain' 'Gravel']

In [22]:
# Tạo 2 cột Day of Month và Quarter
df['Quarter'] = df['Date'].dt.quarter
df['Day of Month'] = df['Date'].dt.day
print(df.head(5))

   Order ID  Customer Age  Bike Value Existing Customer?       Date Store  \
0       1.0          22.0       481.0                 No 2021-04-25  York
1       2.0          28.0      1825.0                 No 2021-01-23  York
2       3.0          51.0      1903.0                 No 2021-07-03  York
3       4.0          59.0      1059.0                 No 2021-01-24  York
4       5.0          44.0      1764.0                Yes 2021-08-12  York

      Bike  Quarter  Day of Month
0     Road        2            25
1     Road        1            23
2     Road        3             3
3     Road        1            24
4  Moutain        3            12

In [23]:
# Bỏ 10 record đầu theo yêu cầu bài toán
df = df.drop(df.index[:10])
print(df.head(5))
print(df.info())

    Order ID  Customer Age  Bike Value Existing Customer?       Date  \
10      11.0          57.0       902.0                 No 2021-10-04
11      12.0          31.0       946.0                Yes 2021-01-17
12      13.0          17.0      1296.0                Yes 2021-10-25
13      14.0          59.0      1166.0                Yes 2021-07-18
14      15.0          24.0      1781.0                 No 2021-10-10

         Store     Bike  Quarter  Day of Month
10  Birmingham     Road        4             4
11       Leeds     Road        1            17
12  Birmingham     Road        4            25
13  Manchester     Road        3            18
14  Manchester  Moutain        4            10
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 10 to 999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order ID            990 non-null    float64
 1   Customer Age        990 non-null    float64
 2   Bike Value          990 non-null    float64
 3   Existing Customer?  990 non-null    object
 4   Date                990 non-null    datetime64[ns]
 5   Store               990 non-null    object
 6   Bike                990 non-null    object
 7   Quarter             990 non-null    int64
 8   Day of Month        990 non-null    int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(3)
memory usage: 69.7+ KB
None

In [24]:
# Output ra csv theo yêu cầu bài toán
df.drop(columns="Date", inplace=True)
df.to_csv("output.csv")