2019: Week 2
February 20, 2019

So you survived week one (note: if you haven’t completed week one - go back and give it a go as we will be layering the techniques over time)... well done and let’s kick this up a notch. 

This week’s challenge uses a few of Jonathan’s and my favourite Tableau Prep features. Prep has a load of great features built in to the menus so let’s see which of them you can use to save you lots of fiddly calculations. 


So what’s the data? We need you decide where you are going to in the UK; London or Edinburgh, purely based on the weather (every Brit’s favourite subject).


Requirements for this week:
- Import the file
- Get rid of those nicely formatted titles - no-one is viewing this in Excel! (sorry Excel fans)
- Make sure you get all the data in the Excel sheet loaded in to Prep
- Clean up the City names to create two cities in one column (London and Edinburgh)
- Pivot the data to give a measure per column for the four metrics in the data set
- Output the data to csv

Your output file should:
- have 6 columns
- have 14 rows of data and a row of headers
- Have no cells without a value
- Just load beautifully into Tableau

In [64]:
import pandas as pd
import numpy as np

Đọc 2 bảng trong sheet excel

In [29]:
df1 = pd.read_excel(r'C:\Users\Raguna\Documents\Python\Preppin Python\PD 2019 Wk 2.xlsx', sheet_name='PC Wk 02', nrows=28)
df2 = pd.read_excel(r'C:\Users\Raguna\Documents\Python\Preppin Python\PD 2019 Wk 2.xlsx', sheet_name='PC Wk 02', skiprows=31)

Group value lại cho thống nhất

In [43]:
df1['City'] = df1['City'].replace(['London', 'Londen', 'Lond0n', 'london', 'nodonL', 'Londin', 'Londoon'],'London')
df2['City'] = df2['City'].replace(['Edinburgh', 'Edinborgh', 'edinburgh', 'edinborgh', 'Ed1nburgh', 'Ed!nburgh',
 'Edenburgh', '3d!nburgh'],'Edinburgh')

Union 2 bảng lại sau đó tạo trường Measure Name

In [73]:
df = pd.concat([df1,df2], ignore_index=True)
df['Measure Name'] = df['Metric'] + ' - ' + df['Measure']
df.drop(columns=['Metric','Measure'], inplace=True)
print(df)

         City  Value       Date               Measure Name
0      London   13.0 2019-02-16  Max Temperature - Celsius
1      London    6.0 2019-02-16  Min Temperature - Celsius
2      London    2.0 2019-02-16         Precipitation - mm
3      London    7.0 2019-02-16           Wind Speed - mph
4      London   14.0 2019-02-17  Max Temperature - Celsius
5      London    9.0 2019-02-17  Min Temperature - Celsius
6      London    0.0 2019-02-17         Precipitation - mm
7      London   12.0 2019-02-17           Wind Speed - mph
8      London   11.0 2019-02-18  Max Temperature - Celsius
9      London    4.0 2019-02-18  Min Temperature - Celsius
10     London   12.0 2019-02-18         Precipitation - mm
11     London   10.0 2019-02-18           Wind Speed - mph
12     London   12.0 2019-02-19  Max Temperature - Celsius
13     London    8.0 2019-02-19  Min Temperature - Celsius
14     London    4.0 2019-02-19         Precipitation - mm
15     London   11.0 2019-02-19           Wind Speed - mph
16     London   13.0 2019-02-20  Max Temperature - Celsius
17     London    9.0 2019-02-20  Min Temperature - Celsius
18     London    2.0 2019-02-20         Precipitation - mm
19     London   13.0 2019-02-20           Wind Speed - mph
20     London   15.0 2019-02-21  Max Temperature - Celsius
21     London    8.0 2019-02-21  Min Temperature - Celsius
22     London    2.0 2019-02-21         Precipitation - mm
23     London    8.0 2019-02-21           Wind Speed - mph
24     London   16.0 2019-02-22  Max Temperature - Celsius
25     London    9.0 2019-02-22  Min Temperature - Celsius
26     London    0.0 2019-02-22         Precipitation - mm
27     London    7.0 2019-02-22           Wind Speed - mph
28  Edinburgh   11.0 2019-02-16  Max Temperature - Celsius
29  Edinburgh    8.0 2019-02-16  Min Temperature - Celsius
30  Edinburgh    4.0 2019-02-16         Precipitation - mm
31  Edinburgh   13.0 2019-02-16           Wind Speed - mph
32  Edinburgh   12.0 2019-02-17  Max Temperature - Celsius
33  Edinburgh    6.0 2019-02-17  Min Temperature - Celsius
34  Edinburgh    9.0 2019-02-17         Precipitation - mm
35  Edinburgh   17.0 2019-02-17           Wind Speed - mph
36  Edinburgh    9.0 2019-02-18  Max Temperature - Celsius
37  Edinburgh    5.0 2019-02-18  Min Temperature - Celsius
38  Edinburgh   11.0 2019-02-18         Precipitation - mm
39  Edinburgh   20.0 2019-02-18           Wind Speed - mph
40  Edinburgh    9.0 2019-02-19  Max Temperature - Celsius
41  Edinburgh    7.0 2019-02-19  Min Temperature - Celsius
42  Edinburgh   14.0 2019-02-19         Precipitation - mm
43  Edinburgh   13.0 2019-02-19           Wind Speed - mph
44  Edinburgh   11.0 2019-02-20  Max Temperature - Celsius
45  Edinburgh    8.0 2019-02-20  Min Temperature - Celsius
46  Edinburgh   18.0 2019-02-20         Precipitation - mm
47  Edinburgh   13.0 2019-02-20           Wind Speed - mph
48  Edinburgh   13.0 2019-02-21  Max Temperature - Celsius
49  Edinburgh    8.0 2019-02-21  Min Temperature - Celsius
50  Edinburgh    8.0 2019-02-21         Precipitation - mm
51  Edinburgh   11.0 2019-02-21           Wind Speed - mph
52  Edinburgh   13.0 2019-02-22  Max Temperature - Celsius
53  Edinburgh    9.0 2019-02-22  Min Temperature - Celsius
54  Edinburgh    8.0 2019-02-22         Precipitation - mm
55  Edinburgh   12.0 2019-02-22           Wind Speed - mph

Pivot table bảng lại

In [74]:
df = pd.pivot_table(df,values='Value',index=['City','Date'] ,columns=['Measure Name'], aggfunc=np.sum).reset_index()
print(df)

Measure Name       City       Date  Max Temperature - Celsius  \
0             Edinburgh 2019-02-16                       11.0
1             Edinburgh 2019-02-17                       12.0
2             Edinburgh 2019-02-18                        9.0
3             Edinburgh 2019-02-19                        9.0
4             Edinburgh 2019-02-20                       11.0
5             Edinburgh 2019-02-21                       13.0
6             Edinburgh 2019-02-22                       13.0
7                London 2019-02-16                       13.0
8                London 2019-02-17                       14.0
9                London 2019-02-18                       11.0
10               London 2019-02-19                       12.0
11               London 2019-02-20                       13.0
12               London 2019-02-21                       15.0
13               London 2019-02-22                       16.0

Measure Name  Min Temperature - Celsius  Precipitation - mm  Wind Speed - mph
0                                   8.0                 4.0              13.0
1                                   6.0                 9.0              17.0
2                                   5.0                11.0              20.0
3                                   7.0                14.0              13.0
4                                   8.0                18.0              13.0
5                                   8.0                 8.0              11.0
6                                   9.0                 8.0              12.0
7                                   6.0                 2.0               7.0
8                                   9.0                 0.0              12.0
9                                   4.0                12.0              10.0
10                                  8.0                 4.0              11.0
11                                  9.0                 2.0              13.0
12                                  8.0                 2.0               8.0
13                                  9.0                 0.0               7.0

Xuất output ra excel kiểm tra kết quả

In [77]:
with pd.ExcelWriter('output.xlsx',mode='w') as write:
    df.to_excel(write, index=False)