# 2024: Week 8 - Prep Air Loyalty

February 21, 2024

Challenge by: Jenny Martin

For this week's challenge, Prep Air have asked for some What If? Analysis. They're considering 2 different systems for rewarding customer loyalty and want to understand how that might impact cost and how many customers might benefit from the program.

### Inputs

Prep Air Customer Details - the team were able to add additional information to Week 5's input 

![1](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh7qIdHx6wwl1vOXbjtyGuCvhJ-eO8aV_lXwJM4NR4ZFs6zB2r1wwaBTUm9hy3p4YEXhousOm-ofHesOJKBJCngC2wWXszVqKQEEbTcYU4q1v05fBoduJgbkVMnVjgtBkKR2KdT-6WW4mnE2kE-F5BlkE9k9AV_MXO3YuNGp7vlvlKBqnJ0Xfwn6EtLhfRP/s1591/Screenshot%202024-02-05%20111445.png)

Prep Air Loyalty schemes 

![2](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiwfG921e6k7TR3S92rjpjOnQ_pSQjVx62GJvZJJo9JhlMiDgMNmZGGwTfAmpwH6In6GoYwOGzw4KWtQp6ovP9kFhlvZCJMdHi0HbX_C8LwB7XEjuWK2VclpPxQ72G6FxiQlg_lQryVPakJuB_AT7xZ_irHCYmXNDgskHQyhsXrBvGwHsrsD1rsL4HtF0fn/s1576/Screenshot%202024-02-05%20111616.png)

Prep Air Loyalty Costings 

![3](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiDvUP2hSwttjgrrXE0JUudTDBD2jzZJNQrjGxDLDz3tAyv2OkUmKXK5YVcZHN44WWQlkOdFk0WV0WnKohR_jrkX_mEGcW_djyS1UYVqX_TE9qh9BgR7m2rnOyvKJSAYPmutN7355oJGMsfPRROBw-WLFVaIKos8LiTe9sLKqVupprPUlsvsVcTzCFA8Vru/s646/Screenshot%202024-02-05%20111703.png)

### Requirements
- Input the data
- To be part of either Prep Air Loyalty Scheme, Customers must have flown in the last year (on or after 21st February 2023)
- Create a parameter so that the number of flights a customer has taken is either bucketed into groups of 5 or groups to 10
- e.g. if the parameter selected is 5, the groupings will be 1-4, 5-9 etc
- if the parameter selected is 10, the groupings will be 1-9, 10-19 etc
- Create a field to categorize customers based on the selected parameter, called Tier
- Estimate the average number of flights a customer takes per year 
- Filter the Prep Air Loyalty dataset to the selected parameter value
- Join the Prep Air Loyalty to the Customer dataset in a way that each customer also experiences the benefits of lower Tiers
- e.g. a Tier 2 customer gets all the benefits of Tier 0, Tier 1 and Tier 2 
-  Split out the Benefits and make sure that each Benefit has its own row
- Join on the Costing dataset
- Calculate the Yearly Cost of each Benefit
- e.g. if the Benefit Cost is per flight then make sure to multiply it by the Avg Number of Flights that customer takes in a year
- Total up the Yearly Cost for each Tier and count the Number of Customers in Each Tier
- Output the data

### Outputs

##### 5 Tier Grouping Output

![4](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEje2QFruJFWJbnRCaaWPFka_gkxV7y5HUx9VPmYvDHyGUFXXUL87S3hSR7w03j04nogwiGWaoCgMOzmACeaABZ0Z_d5qLpeNI0VTcIFAYI3plYTlN03h3JW2u8zyjsgT8-Nlgp90FT3JTgacFp0_USfVD3NA0SgieUZSrhHjwKBNmvLazRgbmQxGoLOfLf0/s396/Screenshot%202024-02-05%20111821.png)

- 3 fields
- Tier
- Year Cost
- Number of Customers
- 6 rows

##### 10 Tier Grouping Output

![5](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiCCRa8dE5FML6JP3E6ArTVLSvwNcnlHW_WZqHp7e2fQ63n5FabogQhnuz4wVrWMwP_rJRUvLd-Rm4vA4FsXPO8IfzokGIQO72J6HUfHtaefnc1B8xRLNMJE-83d4sHMHPVcVfCJkezBbLebCdQv2U3BRZZBYigfaWR0DgJf2MlAa30KvvAFQzHeJWrHrlj/s397/Screenshot%202024-02-05%20111859.png)

- 3 fields
- Tier
- Year Cost
- Number of Customers
- 3 rows

In [1]:
import pandas as pd

# Read the Excel file
excel_file = pd.ExcelFile('Prep air Loyalty.xlsx')

# List all sheet names
sheet_names = excel_file.sheet_names
print(sheet_names)

['Prep Air Loyalty', 'Costings']

In [2]:
df1 = pd.read_excel(excel_file, sheet_name='Prep Air Loyalty')
print(df1.head())

   Tier Grouping Number of Flights    Tier                      Benefits
0              5               1-4  Tier 0                           NaN
1              5               5-9  Tier 1          Early Seat Selection
2              5             10-14  Tier 2           Free Seat Selection
3              5             15-19  Tier 3  Priority Bag Drop & Boarding
4              5             20-24  Tier 4        First Checked Bag Free

In [3]:
df1 = pd.read_excel(excel_file, sheet_name='Prep Air Loyalty')
print(df1.head())

   Tier Grouping Number of Flights    Tier                      Benefits
0              5               1-4  Tier 0                           NaN
1              5               5-9  Tier 1          Early Seat Selection
2              5             10-14  Tier 2           Free Seat Selection
3              5             15-19  Tier 3  Priority Bag Drop & Boarding
4              5             20-24  Tier 4        First Checked Bag Free

In [4]:
df2 = pd.read_excel(excel_file, sheet_name='Costings')
print(df2.head())

                        Benefit            Cost
0          Early Seat Selection               0
1           Free Seat Selection  £15 per flight
2        First Checked Bag Free  £35 per flight
3  Priority Bag Drop & Boarding               0
4     First Class Lounge Access  £50 per flight

In [5]:
df3 = pd.read_csv('Prep Air Updated Customers.csv')
print(df3.head())

   Customer ID first_name last_name                      email  gender  \
0            1     Denyse    Gebuhr       dgebuhr0@vinaora.com  Female
1            2      Keene  Devennie     kdevennie1@plala.or.jp    Male
2            3      Tyler   McGrail          tmcgrail2@nyu.edu    Male
3            4      Drusi    Ibeson     dibeson3@hostgator.com  Female
4            5   Stanwood  Seacroft  sseacroft4@wikispaces.com    Male

  First Flight Last Date Flown  Number of Flights
0   2023-01-05      2023-01-05                  1
1   2023-10-05      2023-10-05                  1
2   2022-07-18      2023-11-09                 27
3   2022-05-28      2023-11-22                 32
4   2022-08-19      2023-12-23                  5

In [6]:
df3['Last Date Flown'] = pd.to_datetime(df3['Last Date Flown'])
df3_filtered = df3[df3['Last Date Flown'] >= '2023-02-21']
print(df3_filtered.head())

   Customer ID first_name last_name                      email   gender  \
1            2      Keene  Devennie     kdevennie1@plala.or.jp     Male
2            3      Tyler   McGrail          tmcgrail2@nyu.edu     Male
3            4      Drusi    Ibeson     dibeson3@hostgator.com   Female
4            5   Stanwood  Seacroft  sseacroft4@wikispaces.com     Male
5            6     Kelcey     McCaw            kmccaw5@mlb.com  Agender

  First Flight Last Date Flown  Number of Flights
1   2023-10-05      2023-10-05                  1
2   2022-07-18      2023-11-09                 27
3   2022-05-28      2023-11-22                 32
4   2022-08-19      2023-12-23                  5
5   2023-02-28      2023-02-28                  1

In [7]:
# Set x, y values as parameter
x = 5
y = 10

In [8]:
# Define a function to categorize the number of flights into groups of 5
def categorize_flights(num_flights):
    if num_flights < 5:
        return '1-4'
    elif num_flights < 10:
        return '5-9'
    elif num_flights < 15:
        return '10-14'
    elif num_flights < 20:
        return '15-19'
    elif num_flights < 25:
        return '20-24'
    elif num_flights < 30:
        return '25-29'
    else:
        return '30+'


# Apply the function to the dataframe
df3_filtered['Flight Category 5'] = df3_filtered['Number of Flights'].apply(categorize_flights)
print(df3_filtered.head())

   Customer ID first_name last_name                      email   gender  \
1            2      Keene  Devennie     kdevennie1@plala.or.jp     Male
2            3      Tyler   McGrail          tmcgrail2@nyu.edu     Male
3            4      Drusi    Ibeson     dibeson3@hostgator.com   Female
4            5   Stanwood  Seacroft  sseacroft4@wikispaces.com     Male
5            6     Kelcey     McCaw            kmccaw5@mlb.com  Agender

  First Flight Last Date Flown  Number of Flights Flight Category 5
1   2023-10-05      2023-10-05                  1               1-4
2   2022-07-18      2023-11-09                 27             25-29
3   2022-05-28      2023-11-22                 32               30+
4   2022-08-19      2023-12-23                  5               5-9
5   2023-02-28      2023-02-28                  1               1-4

C:\Users\Raguna\AppData\Local\Temp\ipykernel_15976\2795982560.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_filtered['Flight Category 5'] = df3_filtered['Number of Flights'].apply(categorize_flights)

In [9]:
# Filter df1 to keep only the tier grouping of 5
df1_filtered = df1[df1['Tier Grouping'] == 5]

# Merge df1_filtered with df3_filtered to identify customers' tier and benefits
df_merged_5 = pd.merge(df3_filtered, df1_filtered, left_on='Flight Category 5', right_on='Number of Flights', how='left')
df_merged_5.drop(columns=['Number of Flights_y', 'Number of Flights_x'], inplace=True)

print(df_merged_5.head())

   Customer ID first_name last_name                      email   gender  \
0            2      Keene  Devennie     kdevennie1@plala.or.jp     Male
1            3      Tyler   McGrail          tmcgrail2@nyu.edu     Male
2            4      Drusi    Ibeson     dibeson3@hostgator.com   Female
3            5   Stanwood  Seacroft  sseacroft4@wikispaces.com     Male
4            6     Kelcey     McCaw            kmccaw5@mlb.com  Agender

  First Flight Last Date Flown Flight Category 5  Tier Grouping    Tier  \
0   2023-10-05      2023-10-05               1-4              5  Tier 0
1   2022-07-18      2023-11-09             25-29              5  Tier 5
2   2022-05-28      2023-11-22               30+              5  Tier 6
3   2022-08-19      2023-12-23               5-9              5  Tier 1
4   2023-02-28      2023-02-28               1-4              5  Tier 0

                                            Benefits
0                                                NaN
1                          First Class Lounge Access
2  First Class Lounge Access for 1 Guest, , £250 ...
3                               Early Seat Selection
4                                                NaN

In [10]:
# Define a function to categorize the number of flights into groups of 10
def categorize_flights_10(num_flights):
    if num_flights < 10:
        return '1-9'
    elif num_flights < 20:
        return '10-19'
    elif num_flights < 30:
        return '20-29'
    else:
        return '30+'

# Apply the function to the dataframe
df3_filtered['Flight Category 10'] = df3_filtered['Number of Flights'].apply(categorize_flights_10)
print(df3_filtered.head())

   Customer ID first_name last_name                      email   gender  \
1            2      Keene  Devennie     kdevennie1@plala.or.jp     Male
2            3      Tyler   McGrail          tmcgrail2@nyu.edu     Male
3            4      Drusi    Ibeson     dibeson3@hostgator.com   Female
4            5   Stanwood  Seacroft  sseacroft4@wikispaces.com     Male
5            6     Kelcey     McCaw            kmccaw5@mlb.com  Agender

  First Flight Last Date Flown  Number of Flights Flight Category 5  \
1   2023-10-05      2023-10-05                  1               1-4
2   2022-07-18      2023-11-09                 27             25-29
3   2022-05-28      2023-11-22                 32               30+
4   2022-08-19      2023-12-23                  5               5-9
5   2023-02-28      2023-02-28                  1               1-4

  Flight Category 10
1                1-9
2              20-29
3                30+
4                1-9
5                1-9

C:\Users\Raguna\AppData\Local\Temp\ipykernel_15976\4010595507.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_filtered['Flight Category 10'] = df3_filtered['Number of Flights'].apply(categorize_flights_10)

In [11]:
# Filter df1 to keep only the tier grouping of 10
df1_filtered = df1[df1['Tier Grouping'] == 10]

# Merge df1_filtered with df3_filtered to identify customers' tier and benefits
df_merged_10 = pd.merge(df3_filtered, df1_filtered, left_on='Flight Category 10', right_on='Number of Flights', how='left')
df_merged_10.drop(columns=['Number of Flights_y', 'Number of Flights_x'], inplace=True)


print(df_merged_10.head())

   Customer ID first_name last_name                      email   gender  \
0            2      Keene  Devennie     kdevennie1@plala.or.jp     Male
1            3      Tyler   McGrail          tmcgrail2@nyu.edu     Male
2            4      Drusi    Ibeson     dibeson3@hostgator.com   Female
3            5   Stanwood  Seacroft  sseacroft4@wikispaces.com     Male
4            6     Kelcey     McCaw            kmccaw5@mlb.com  Agender

  First Flight Last Date Flown Flight Category 5 Flight Category 10  \
0   2023-10-05      2023-10-05               1-4                1-9
1   2022-07-18      2023-11-09             25-29              20-29
2   2022-05-28      2023-11-22               30+                30+
3   2022-08-19      2023-12-23               5-9                1-9
4   2023-02-28      2023-02-28               1-4                1-9

   Tier Grouping    Tier                                           Benefits
0             10  Tier 0                                                NaN
1             10  Tier 2  First Checked Bag Free, Priority Bag Drop & Bo...
2             10  Tier 3  First Class Lounge Access, First Class Lounge ...
3             10  Tier 0                                                NaN
4             10  Tier 0                                                NaN

In [12]:
average_flights_per_year = df3_filtered['Number of Flights'].mean()
print(f"Average number of flights per year: {average_flights_per_year}")

Average number of flights per year: 14.440641590421325

In [13]:
# Function to split benefits into individual rows
def split_benefits(df):
    df = df.dropna(subset=['Benefits'])
    df = df.assign(Benefits=df['Benefits'].str.split(', ')).explode('Benefits')
    return df

# Merge df1 with df3_filtered to identify customers' tier and benefits
df_merged = pd.merge(df3_filtered, df1, left_on='Flight Category 10', right_on='Number of Flights', how='left')

# Drop unnecessary columns
df_merged.drop(columns=['Number of Flights_y', 'Number of Flights_x'], inplace=True)

# Split out the Benefits and make sure that each Benefit has its own row
df_benefits = split_benefits(df_merged)

# Ensure each customer also experiences the benefits of lower Tiers
df_benefits['Tier'] = df_benefits['Tier'].apply(lambda x: int(x.split(' ')[1]))
df_benefits = df_benefits.sort_values(by=['Customer ID', 'Tier'])

# Display the result
print(df_benefits.head())

   Customer ID first_name last_name                   email  gender  \
1            3      Tyler   McGrail       tmcgrail2@nyu.edu    Male
1            3      Tyler   McGrail       tmcgrail2@nyu.edu    Male
3            4      Drusi    Ibeson  dibeson3@hostgator.com  Female
3            4      Drusi    Ibeson  dibeson3@hostgator.com  Female
3            4      Drusi    Ibeson  dibeson3@hostgator.com  Female

  First Flight Last Date Flown Flight Category 5 Flight Category 10  \
1   2022-07-18      2023-11-09             25-29              20-29
1   2022-07-18      2023-11-09             25-29              20-29
3   2022-05-28      2023-11-22               30+                30+
3   2022-05-28      2023-11-22               30+                30+
3   2022-05-28      2023-11-22               30+                30+

   Tier Grouping  Tier                               Benefits
1             10     2                 First Checked Bag Free
1             10     2           Priority Bag Drop & Boarding
3             10     3              First Class Lounge Access
3             10     3  First Class Lounge Access for 1 Guest
3             10     3            £250 off a flight each Year